@model MinimercadoAlfredo.Models.Category

@{
    Layout=null;
}
<head>
    <script type="text/javascript"> var id = null; function openWindow() { var pnl = $get("pnl"); if (pnl != null) { pnl.style.left = "50px"; pnl.style.top = "50px"; id = setTimeout("movePanel();", 100); } } </script>
</head>

<h4 class="text-center">¿Está seguro de eliminar el Rubro @Model.CategoryName?</h4>
<br />
<h4 class="text-center" style="color:red">IMPORTANTE</h4>
<h5 class="text-center" style="color:red">Al eliminar este Rubro, estará eliminando todos sus productos relacionados</h5>
<br />
<br />
<div>
    @*<h4>Category</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryDescription)
        </dd>

    </dl>*@

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Eliminar" class="btn btn-danger" />
        </div>
    }
</div>
