@model MinimercadoAlfredo.Models.Category

@{
    Layout = null;
}



@using (Html.BeginForm("Edit", "Categories", null, FormMethod.Post, new { id = "editarrubro" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdCategory)

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                <span id="spancategoryname" style="color:red"></span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CategoryDescription, "Descripción", htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.CategoryDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />

        <div class="form-actions no-color text-center">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <input type="submit" value="Guardar cambios" class="btn btn-success" />
        </div>

    </div>
}



<script>

    $('#editarrubro').submit(function (e) {
        var x = this;
        e.preventDefault();
        var options = {};
        options.url = '@Url.Action("ValRubro", "Categories")';
        options.type = "GET";
        options.data = { "dato": $("#CategoryName").val(), "idcategory": $("#IdCategory").val() };
        options.dataType = "json";
        options.success = function (data) {
            if (data) {
                $('#spancategoryname').text("* Rubro existente !");

            } else {
                if ($('#CategoryName').val().trim() == '') {

                    $('#spancategoryname').text("* Campo requerido !");
                }
                else {
                    $('#spancategoryname').text("");
                    bootbox.confirm("** Está por editar un rubro, ¿Desea continuar?", function (result) {
                        if (result) {
                            x.submit();
                        }
                    });
                }
            }


        };
        $.ajax(options);
    });
</script>

