@model MinimercadoAlfredo.Models.Sale

@{
    ViewBag.Title = "Nueva Venta";
}
<head>

    
</head>
@*///////////////////////////*@


<h2>Carga Venta</h2>
<input value="@ViewBag.msg" id="msg" style="display: none"/>
<div class="details">
    <legend>
        Datos Generales
    </legend>
    <select class="form-control" id="salestate" style="width:40%; height:35px;">
        <option value="0">Pendiente</option>
        <option value="1">Finalizada</option>
    </select>
    <table>
        <thead class="thead-inverse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="background-color:#373a3c;border-radius:5px">
                            <div class="col-md-2" align="center">
                                <label style="color:white;padding-top:8px">IdSale</label>
                            </div>
                            <div class="col-md-2" align="center">
                                <label style="color:white;padding-top:8px">CustomerName</label>
                            </div>
                            <div class="col-md-2" align="center">
                                <label style="color:white;padding-top:8px">SaleAddress</label>
                            </div>
                            <div class="col-md-2" align="center">
                                <label style="color:white;padding-top:8px">CuitCuil</label>
                            </div>
                            <div class="col-md-2" align="center">
                                <label style="color:white;padding-top:8px">SaleDate</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </thead>
    </table>
</div>

<table>
    <div class="container-fluid">
        <div class="row" style="padding-top:10px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2" align="center">
                        <span>@ViewBag.nsale</span>

                    </div>
                    <div class="col-md-2" align="left">
                        <select class="js-example-basic-single" id="customername" style="font: small-caption; width: 180px; height: 25px; background-color: beige;">
                            <option value="0">Seleccionar Cliente...</option>
                            @foreach (var item in ViewBag.Customers)
                            {
                                <option value="@item.IdCustomer">@item.CustomerName</option>
                            }
                        </select>
                        @*<input type="text" class="panel-info" style="width: 60px;height:25px;" id="customername" placeholder="" />*@
                        <span class="error">Requerido</span>
                    </div>
                    <div class="col-md-2" align="center">
                        <input type="text" class="panel-info" style="width: 170px;height:25px;" id="saleaddress" placeholder="" />
                        @*   @Html.EditorFor(m => m.CustomerAddress, new { htmlAttributes = new { @class = "form-control", @id = "customeraddress" } })*@
                        @*<span class="error">customeraddress required</span>*@
                    </div>
                    <div class="col-md-2" align="center">
                        <input type="number" class="panel-info" style="width: 150px;height:25px;" id="cuitcuil" placeholder="" />
                        <span class="error"></span>
                    </div>
                    <div class="col-md-2" align="center">
                        <input type="date" class="panel-info" style="width: 150px;height:25px;" id="saledate" placeholder="dd/mm/aaaa" />
                        <span class="error">Requerido</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</table>
<div class="details">
    <legend>
        Lineas Venta
    </legend>
    <table>
        <thead class="thead-inverse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="background-color: #373a3c; border-radius: 5px">
                            <div class="col-md-2" align="center">
                                <label style="color: white; padding-top: 8px">LineDescription</label>
                            </div>
                            <div class="col-md-2" align="center">
                                <label style="color: white; padding-top: 8px">LinePrice</label>
                            </div>
                            <div class="col-md-2" align="center">
                                <label style="color: white; padding-top: 8px">LineDiscount</label>
                            </div>
                            <div class="col-md-2" align="center">
                                <label style="color: white; padding-top: 8px">LineQuantity</label>
                            </div>
                            <div class="col-md-2" align="center">
                                <label style="color: white; padding-top: 8px">LineTotal</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </thead>
    </table>
</div>




<table>
    <div class="container-fluid">
        <div class="row" style="padding-top:10px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2" align="center">
                        @* <input type="text" class="panel-info" style="width: 130px;height:25px;" id="linedescription" />*@
                        <select class="js-example-basic-single" id="linedescription" style="font: small-caption; width: 200px; height: 25px; background-color: beige;" onchange="javacript: var valor = this.options[selectedIndex].text; document.getElementById('shadow').value = valor;">
                            <option value="0">Seleccionar Producto...</option>
                            @foreach (var item in ViewBag.Products)
                            {
                                <option value="@item.IdProduct">@item.ProductNumber - @item.ProductDescription</option>
                            }
                        </select>
                        <input type="hidden" id="shadow" value="">
                        <span class="error">Requerido</span>
                    </div>
                    <div class="col-md-2" align="center">
                        <input type="text" class="panel-info" style="width: 130px;height:25px;" id="lineprice" onchange = "totallinea()" oninput = "totallinea()"  onkeypress="solonumerosptocoma()" />
                        <span class="error">Requerido</span>
                    </div>
                    <div class="col-md-2" align="center">
                        <input type="tel" min="0" step="1"class="panel-info" value="0" style="width: 130px;height:25px;" id="linediscount" oninput = "totallinea()" maxlength="3"oninput="javascript:if (this.value > 100) this.value = 100;" onchange = "totallinea();" onkeypress="solonumeros()" />
                        <span class="error">Requerido</span>
                    </div>
                    <div class="col-md-2" align="center">
                        <input type="number" class="panel-info" value="1" style="width: 130px;height:25px;" id="linequantity" onchange = "totallinea()" oninput = "    totallinea()" onkeypress="solonumerosptocoma()" />
                        <span class="error">Requerido</span>
                    </div>
                    <div class="col-md-2" align="center">
                        <input type="text" class="panel-info" value="0.00" style="width: 130px;height:25px;" id="linetotal" readonly="readonly" />
                        <span class="error">Requerido</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</table>
<table class="tablecontainer" style="border:none; background-color:dimgrey; ">
    <div id="orderItems" class="tablecontainer" style="border: none; padding-top: 15px">
    </div>
    <span class="error"></span>

</table>

<div class="col-md-2" align="center">
    <button type="button" id="add" class="btn btn-success btn-lg " value="Agregar" style="bottom:auto" />Agregar
    <span class="glyphicon glyphicon-plus"></span>

</div>

<div class="details">
    <legend>
        Datos Generales
    </legend>
    <table>
        <thead class="thead-inverse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row" style="background-color:#373a3c;border-radius:5px">
                            <div class="col-md-6" align="center">
                                <label style="color:white;padding-top:8px">SaleTotal</label>
                            </div>
                            <div class="col-md-6" align="center">
                                <label style="color:white;padding-top:8px">Comments</label>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </thead>
    </table>
</div>

<table>
    <div class="container-fluid">
        <div class="row" style="padding-top:10px">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6" align="center">
                        <input type="text" class="panel-info" value="0.00" style="width: 60px;height:25px;" id="saletotal" placeholder="" readonly="readonly" />
                        <span class="error">Requerido</span>
                    </div>
                    <div class="col-md-6" align="center">
                        <input type="text" class="panel-info" style="width: 60px;height:25px;" id="comments" placeholder="" />
                        
                    </div>


                </div>
            </div>
        </div>
    </div>
</table>




<div class="text-right">
    <button type="button" id="submit" class="btn btn-success btn-lg btn-block " value="Guardar venta" />Guardar
    <span class="glyphicon glyphicon-floppy-disk"></span></button>
</div>

}

<link href="@Url.Content("~/Content/Select2/select2.min.css")" rel="stylesheet" />
@section Scripts{




    <script src="@Url.Content("~/Content/Select2/select2.js")"></script>
    <script src="@Url.Content("~/Scripts/solonumeros.js")"></script>
<script src="@Url.Content("~/Scripts/solonumerosptocoma.js")"></script>


    <script>

        /////////////////Start:Select searchable////////////////
        $(document).ready(function () {
            if ($('#msg').val()==1) { toastr.success("Venta guardada correctamente."); }
            $(".js-example-basic-single").select2();
        });
        ////////////////End:Select searchable///////////////////

        /////////////Start:Autocomplete Sale Address CuitCuil/////
        $(document).ready(function() {
            $("#customername").change(function() {

                var options = {};
                options.url = '@Url.Action("Getcustomerdata", "Sales")';
                options.type = "GET";
                options.data = { "cus": $("#customername").val() };
                options.dataType = "json";
                options.success = function(data) {
                    if (data.CustomerAddress != null) {
                        document.getElementById("saleaddress").value = data.CustomerAddress;
                    }
                    if (data.CuitCuil != null) {
                        document.getElementById("cuitcuil").value = data.CuitCuil;
                    }
                };
                $.ajax(options);
            });
        });
        //////////////End:Autocomplete Sale Address CuitCuil/////////////

        //////////////////////Start: Autocomplete Product Price/////////////
        $(document).ready(function() {
            $("#linedescription").change(function() {

                var options = {};
                options.url = '@Url.Action("Getproductdata", "Sales")';
                options.type = "GET";
                options.data = { "pro": $("#linedescription").val() };
                options.dataType = "json";
                options.success = function (data) {
                    document.getElementById("lineprice").value = data;
                    var price = parseFloat($('#lineprice').val());
                    var quantity = parseFloat($('#linequantity').val());
                    var discount = parseFloat($('#linediscount').val());
                    var total = (price * quantity);
                    total = total - (total * discount / 100);
                    document.getElementById("linetotal").value = total.toFixed(2);;
                };
                $.ajax(options);
            });
        });
        ///////////////////End: Autocomplete Product Price////////

        //////////////////Start: LinePrice Calculation//////////////
       
            function totallinea() {
                var price = parseFloat($('#lineprice').val());
                var quantity = parseFloat($('#linequantity').val());
                var discount = parseFloat($('#linediscount').val());
                var total = (price * quantity);
                total = total - (total * discount / 100);
                document.getElementById("linetotal").value = total.toFixed(2);
            }

        ////////////////////End: LinePrice Calculation/////////////

        ////Date Picker
        //$(document).ready(function() {
        //    $(function() {
        //        $('#saledata').datepicker({
        //            dateFormat: 'mm-dd-yy'
        //        });
        //    });
        //});

        $(document).ready(function() {
            var orderItems = [];
            var verifproductos = [];
            var totgral = [];
            //Add button click function
            $('#add').click(function() {
                //Check validation of order item
                var isValidItem = true;
                if ($('#linedescription').val().trim() == '' | $('#linedescription').val().trim() == 0) {
                    isValidItem = false;
                    $('#linedescription').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#linedescription').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#lineprice').val().trim() == '') {
                    isValidItem = false;
                    $('#lineprice').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#lineprice').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#linediscount').val().trim() == '') {
                    isValidItem = false;
                    $('#linediscount').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#linediscount').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#linediscount').val().trim() == '') {
                    isValidItem = false;
                    $('#linediscount').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#linediscount').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#linequantity').val().trim() == '') {
                    isValidItem = false;
                    $('#linequantity').siblings('span.error').text('Requerido');
                    $('#linequantity').siblings('span.error').css('visibility', 'visible');
                } else {
                    if ($('#linequantity').val().trim() * 1 == 0) {
                        isValidItem = false;
                        $('#linequantity').siblings('span.error').text('Valor min: 1');

                        $('#linequantity').siblings('span.error').css('visibility', 'visible');
                    } else {
                        $('#linequantity').siblings('span.error').css('visibility', 'hidden');
                    }
                }
                if ($('#linetotal').val().trim() == '') {
                    isValidItem = false;
                    $('#linetotal').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#linetotal').siblings('span.error').css('visibility', 'hidden');
                }

                if (isValidItem) {
                    ////////////***********//////////
                    var historial = verifproductos;
                    var errorproductos = false;
                    productoact = parseInt($('#linedescription').val().trim());
                    $.each(historial, function() {
                        if (productoact == parseInt(this)) {
                            errorproductos = true;

                        }
                    });
                }
                if (errorproductos) {
                    isValidItem = false;
                    bootbox.alert({
                        title: "Producto existente",
                        message: "El producto: - " + $('#shadow').val().trim()+" - ya se encuentra en el listado. ",
                        backdrop: true
                    });
                }

                //Validacion de Stock
                if (isValidItem) {
                    var options = {};
                    options.url = '@Url.Action("ValStockSale", "Sales")';
                    options.type = "GET";
                    options.data = { "pro": $("#linedescription").val() };
                    options.dataType = "json";
                    options.success = function (data) {
                        var parcialstock = parseFloat(data);
                        var cantidad = ($('#linequantity').val().trim());
                        var faltante = parseFloat($('#linequantity').val().trim()) - parcialstock;
                        if (parcialstock < cantidad) {
                            bootbox.alert({
                                title: "No hay suficiente stock",
                               message: "Producto: " + $('#shadow').val().trim()+"<br/>Stock disponible: "+parcialstock+"<br/>Stock solicitado: "+cantidad+"<br/>Stock faltante: "+faltante,
                                backdrop: true
                            });
                        }
                        else {
                            //                    data = data.replace(",",'.');

                            orderItems.push({
                                IdProduct: $('#linedescription').val().trim(),
                                LinePrice: $('#lineprice').val().trim(),
                                LineDiscount: $('#linediscount').val().trim(),
                                LineQuantity: $('#linequantity').val().trim(),
                                LineTotal: $('#linetotal').val().trim(),
                                LineDescription: $('#shadow').val().trim()
                            });
                            verifproductos.push(
                                parseInt($('#linedescription').val().trim())
                            );
                            totgral.push(
                               parseFloat($('#linetotal').val().trim())
                           );
                            //Clear fields
                            //$(document).find('#linedescription').select2();
                            $("#linedescription").val(0).trigger('change');
                            $('#lineprice,#linequantity,#linetotal').val('0.00');
                            $('#linediscount').val('0');
                            $('#linequantity').val('1');

                            GeneratedItemsTable();
                        }
                    };
                    $.ajax(options);
                }


                //Add item to list if valid
              
                //populate order items

            });
            //Save button click function
            $('#submit').click(function() {
                //validation of order
                var isAllValid = true;
                if (orderItems.length == 0) {
                    $('#orderItems').html('<span style="color:red;">Por favor, agregue productos.</span>');
                    isAllValid = false;
                }

                //if ($('#idsale').val().trim() == '') {
                //    $('#idsale').siblings('span.error').css('visibility', 'visible');
                //    isAllValid = false;
                //} else {
                //    $('#idsale').siblings('span.error').css('visibility', 'hidden');
                //}

                if ($('#customername').val().trim() == '' || $('#customername').val().trim() == '0') {
                    $('#customername').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                } else {
                    $('#customername').siblings('span.error').css('visibility', 'hidden');
                }
                //if ($('#saleaddress').val().trim() == '') {
                //    $('#saleaddress').siblings('span.error').css('visibility', 'visible');
                //    isAllValid = false;
                //} else {
                //    $('#saleaddress').siblings('span.error').css('visibility', 'hidden');
                //}
                if ($('#saledate').val().trim() == '') {
                    $('#saledate').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                } else {
                    $('#saledate').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#saletotal').val().trim() == '') {
                    $('#saletotal').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                } else {
                    $('#saletotal').siblings('span.error').css('visibility', 'hidden');
                }                

                //Save if valid
                if (isAllValid) {
                    var data = {
                        CustomerName: $('#customername').val().trim(),
                        //Sorry forgot to add Description Field
                        SaleAddress: $('#saleaddress').val().trim(),
                        CuitCuil: $('#cuitcuil').val().trim(),
                        SaleDate: $('#saledate').val().trim(),
                        SaleTotal: $('#saletotal').val().trim(),
                        Comments: $('#comments').val().trim(),
                        SaleState: $('#salestate').val().trim(),
                        SaleLines: orderItems
                    }

                    $(this).val('Please wait...');

                    $.ajax({
                        url: '@Url.Action("CreateSale", "Sales")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function(d) {
                            //check is successfully save to database
                            if (d.status == true) {
                                //will send status from server side
                                //alert('SAPEEEEEEEEEEEEE.');
                                @*bootbox.alert({
                                    
                                    message: "Venta guardada correctamente",
                                    callback: function (result) {
                                        //clear form
                                        //orderItems = [];
                                        //$('#customername').val('');
                                        //$('#saleaddress').val('');
                                        //$('#cuitcuil').val('');
                                        //$('#saledate').val('');
                                        //$('#comments').val('');
                                        //$('#salestate').val('0');

                                        //$('#orderItems').empty();
                                        var url = '@Url.Action("CreateSale")';
                                        window.location.href = url;
                                    }
                                });*@
                                var url = '@Url.Action("CreateSale","Sales", new { x = 1 })';
                                window.location.href = url;
                            } else {
                                alert('Failed');
                            }
                            $('#submit').val('Save');
                        },
                        error: function() {
                            alert('Error. Please try again.');
                            $('#submit').val('Save');
                        }
                    });
                }

            });

//function for show added items in table
            function GeneratedItemsTable() {
                if (orderItems.length > 0) {
                    var $table = $('<table style="border:none"></table>');
                    //$table.append('<thead><tr><th>Item</th><th>Quantity</th><th>Rate</th><th>Total</th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(orderItems, function(i, val) {
                        var $row = $('<div class="col-md-12" align="center" ></div>');
                        $row.append($('<div class="col-md-5" style="font-weight: bold; border-style: outset;border-color:#CEECF5;border-width:2px;background-color:#F2F3A6;border-radius: 4px;"  ></div>').html(val.LineDescription));
                        $row.append($('<div class="col-md-1" style="font-weight: bold; border-style: outset;border-color:#CEECF5;border-width:2px;background-color:#F2F3A6;border-radius: 4px;"  ></div>').html(val.LinePrice));
                        $row.append($('<div class="col-md-1" style="font-weight: bold; border-style: outset;border-color:#CEECF5;border-width:2px;background-color:#F2F3A6;border-radius: 4px;"  ></div>').html(val.LineDiscount));
                        $row.append($('<div class="col-md-1" style="font-weight: bold; border-style: outset;border-color:#CEECF5;border-width:2px;background-color:#F2F3A6;border-radius: 4px;"  ></div>').html(val.LineQuantity));
                        $row.append($('<div class="col-md-1" style="font-weight: bold; border-style: outset;border-color:#CEECF5;border-width:2px;background-color:#F2F3A6;border-radius: 4px;"  ></div>').html(val.LineTotal));
                        var $remove = $('<a href="#">Eliminar</a>');

                        //CALCULO TOTAL GRAL
                        saletotal = 0;
                        $.each(totgral, function () { saletotal += parseFloat(this) || 0; });
                        document.getElementById("saletotal").value = saletotal.toFixed(2);

                        //FIN CALCULO TOTAL GRAL

                        $remove.click(function(e) {
                            e.preventDefault();
                            orderItems.splice(i, 1);
                            verifproductos.splice(i, 1);
                            totgral.splice(i, 1);
                            GeneratedItemsTable();
                            saletotal = 0;
                            $.each(totgral, function () { saletotal += parseFloat(this) || 0; });
                            document.getElementById("saletotal").value = saletotal.toFixed(2);

                        });
                        $row.append($('<div class="col-md-1" style="font-weight: bold;border-style: outset;border-color:#CEECF5;border-width:2px;background-color:#F2F3A6;border-radius: 4px;"></div>').html($remove));

                        $tbody.append($row);
                    });

                    $table.append($tbody);
                    $('#orderItems').html($table);
                } else {
                    $('#orderItems').html('');
                }
            }
        });

    </script>
}

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }
</style>