@model MinimercadoAlfredo.Models.Sale
@{
    ViewBag.Title = "Eliminar Venta";
}


<h3 class="text-center" style="color:red">¿Está seguro que desea eliminar la siguiente venta?</h3>
<div>

    <table class="table table-condensed   table-striped table-bordered table-condensed resaltar" style="margin-top: 3%">
        <thead>
        <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
            <th class="text-left" style="border-radius: 3px">

                Nº Venta
            </th>
            <th class="text-left" style="border-radius: 3px">
                Estado Venta
            </th>
            <th class="text-left" style="border-radius: 3px">
                Cliente
            </th>
            <th class="text-left" style="border-radius: 3px">
                Dirección
            </th>
            <th class="text-left" style="border-radius: 3px;">
                Cuit/Cuil
            </th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-left">
                @Html.DisplayFor(model => model.IdSale)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.SaleState)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.Customer.CustomerName)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.SaleAddress)
            </td>
            <td class="text-left">
                @Html.DisplayFor(model => model.Customer.CuitCuil)
            </td>
        </tr>
        </tbody>
    </table>
    <h3 class="text-center">Lista de Productos</h3>
    <hr style="color:grey; border-color: grey; margin-top: 0" />
    <table class="table table-condensed   table-striped table-bordered table-condensed resaltar">
        <thead>
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">

                <th class="text-left" style="border-radius: 3px">
                    Producto
                </th>
                <th class="text-left" style="border-radius: 3px">
                    Cantidad
                </th>
                <th class="text-left" style="border-radius: 3px">
                    Descuento
                </th>
                <th class="text-left" style="border-radius: 3px;">
                    Precio Unitario
                </th>
                <th class="text-left" style="border-radius: 3px;">
                    Subtotal
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SaleLines)
            {
                <tr>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.LineQuantity)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.LineDiscount)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.LinePrice)
                    </td>
                    <td class="text-left">
                        @Html.DisplayFor(modelItem => item.LineTotal)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <table class="table table-condensed   table-striped table-bordered table-condensed resaltar">
        <thead>
            <tr class="text-center" style="color: #2c3e50; background-color: lightblue">
                <th class="text-left" style="border-radius: 3px">
                    Comentarios
                </th>
                <th class="text-left" style="border-radius: 3px">

                    Total Venta
                </th>


            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-left">
                    @Html.DisplayFor(model => model.Comments)
                </td>
                <td class="text-left">
                    @Html.DisplayFor(model => model.SaleTotal)
                </td>

            </tr>
        </tbody>
    </table>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <a href="@Url.Action("Index", "Sales")" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp; Volver</a>
            <button type="submit" class="btn btn-danger">Eliminar &nbsp;<span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
        </div>
    }
</div>

