@model MinimercadoAlfredo.Models.Sale
@{
    ViewBag.Title = "Editar Venta";
}

<h2 class="text-center">Editar Venta</h2>
<hr style="color:grey;border-color:grey" />
@Html.HiddenFor(model => model.IdSale)
<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr class="text-center" style="color: black; font-weight: bold; background-color: lightsteelblue">
            <th style="width: 110px">
                N° Venta
            </th>
            <th>
                Cliente
            </th>
            <th>
                Dirección
            </th>
            <th>
                CUIT/CUIL
            </th>
            <th style="width: 14%">
                Estado de Venta
            </th>
            <th style="width: 170px">
                @Html.DisplayNameFor(model => model.SaleDate)
            </th>

        </tr>
    </thead>
    <tbody>
        <tr style="background-color: white">
            <td style="color: black; text-align: center">
                @Html.DisplayFor(model => model.IdSale)
            </td>
            <td>
                <select class="js-example-basic-single inputForm" id="customerid" onchange="changecust(value)">
                    <option value="@Model.IdCustomer">@Model.Customer.CustomerName</option>
                    @foreach (var item in ViewBag.Customers)
                    {
                        if (item.IdCustomer != Model.Customer.IdCustomer)
                        {
                            <option value="@item.IdCustomer">@item.CustomerName</option>
                        }
                    }
                </select>

            </td>
            <td>
                <input type="text" id="customeraddress" value="@Model.SaleAddress" readonly="readonly" style="border-color: transparent" />
            </td>
            <td style="width: 13%">
                <input type="text" id="customercuil" value="@Model.Customer.CuitCuil" readonly="readonly" style="border-color: transparent" width="100%" />
            </td>
            <td style="color: black; font-weight: bold">
                <select class="inputForm" id="salestate">
                    <option value="0">Pendiente</option>
                    <option value="1">Finalizada</option>
                </select>
            </td>
            <td style="color: black">
                <input id="Date" name="Date" type="text" readonly="readonly" class="form-control" value="@Model.SaleDate.ToString("dd/MM/yyyy")" style="text-align: center" />
            </td>

        </tr>
    </tbody>
</table>
<h3 class="text-center">Lista de Productos</h3>
<hr style="color: grey; border-color: grey" />
<div>
    <button id="mostrar" class="hidden-print btn btn-primary btn-sm hvr-bubble-right">Agregar Producto &nbsp;&nbsp;</button>
    <br />
    <div id="nuevalinea" style="display: none">
        <div>
            <button id="ocultar" class="hidden-print btn btn-sm btn-primary hvr-bubble-left positionOcultar">&nbsp;&nbsp; Ocultar</button>

        </div>
        <table id="nueva" class="table table-condensed table-striped table-bordered">
            <thead>
                <tr class="text-center" style="color: black; font-weight: bold; background-color: lightsteelblue">
                    <td style="width: 40%">
                        Producto
                    </td>
                    <td style="width: 12%">
                        Cantidad
                    </td>
                    <td style="width: 12%">
                        Precio
                    </td>
                    <td style="width: 13%">
                        Descuento (%)
                    </td>
                    <td style="width: 19%">
                        Subtotal
                    </td>
                </tr>
            </thead>
            <tbody id="nueva">
                <tr>
                    <td>
                        <select class="js-example-basic-single inputForm" id="linedescription" onchange="addproduct(this.value)" oninput="addproduct(this.value)" style="width: 90%">
                            <option value="0">Seleccionar Producto...</option>
                            @foreach (var item in ViewBag.Products)
                            {
                                <option value="@item.IdProduct">@item.IdProduct - @item.ProductDescription</option>
                            }
                        </select>
                        
                    </td>
                    <td>
                        <input type="number" class="panel-info form-control inputForm" value="1" id="linequantity" onFocus="this.select()" onchange="totallinea()" oninput="totallinea()" onkeypress="solonumerosptocoma()" />

                    </td>
                    <td>
                        <input type="number" class="panel-info form-control inputForm" id="lineprice" onFocus="this.select()" onchange="totallinea()" oninput="totallinea()" onkeypress="solonumerosptocoma()" />
                    </td>
                    <td>
                        <input type="number" min="0" step="1" class="panel-info form-control inputForm" value="0" id="linediscount" onFocus="this.select()" oninput="totallinea()" maxlength="3" onchange="totallinea();" onkeypress="solonumeros()" />
                    </td>
                    <td>
                        <input type="text" class="panel-info text-center totalView dataContainer" value="0.00" id="linetotal" readonly="readonly" />
                    </td>
                    <td class="text-center">
                        <button type="button" id="add" class="btn btn-success btn-sm" value="Agregar" style="bottom: auto"><span class="glyphicon glyphicon-plus"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
        <span id="spanproducto" style="color:red"></span>
        <span id="spanquantity" style="color:red"></span>
        <span id="spanprice" style="color:red"></span>
        <span id="spandiscount" style="color:red"></span>
    </div>
</div>
<table class="table table-condensed table-striped table-bordered" id="productTable">
    <thead>
    <tr class="text-center" style="color: black; font-weight: bold; background-color: lightsteelblue">
        <td>
            Nro Artículo
        </td>
        <td>
            Producto
        </td>
        <td>
            Cantidad
        </td>
        <td>
            Precio
        </td>
        <td>
            Descuento (%)
        </td>
        <td>
            Subtotal
        </td>
    </tr>
    </thead>

    <tbody id="insert">
    @foreach (var item in Model.SaleLines)
    {
        <tr>
            <td class="text-center">
                <input id="@("itemid" + @item.IdProduct)" type="text" name="productid" value="@item.IdProduct" readonly="readonly" style="border: none; background-color: transparent; width: 70%; text-align: center"/>
            </td>
            <td>
                <input id="@("itemdesc" + @item.IdProduct)" type="text" name="productdescription" value="@item.Product.ProductDescription" readonly="readonly" style="border: none; background-color: transparent"/>
            </td>
            <td>
                <input id="@("itemquantity" + @item.IdProduct)" name="productquantity" style="text-align: center" type="number" value="@item.LineQuantity" onchange="CalcSubtotal(@item.IdProduct); ValidLine(@item.IdProduct);" oninput="CalcSubtotal(@item.IdProduct)" onfocus="CalcSubtotal(@item.IdProduct)"/>
            </td>
            <td>
                <input id="@("itemprice" + @item.IdProduct)" name="productprice" style="text-align: center" type="number" value="@item.LinePrice" min="1" onchange="CalcSubtotal(@item.IdProduct); ValidLine(@item.IdProduct);" oninput="CalcSubtotal(@item.IdProduct)" onfocus="CalcSubtotal(@item.IdProduct)" />
            </td>
            <td>
                <input id="@("itemdiscount" + @item.IdProduct)" name="productdiscount" style="text-align: center; width: 90%" type="number" maxlength="3" value="@item.LineDiscount" min="1" max="100" onchange="CalcSubtotal(@item.IdProduct); ValidLine(@item.IdProduct);" oninput="CalcSubtotal(@item.IdProduct)" onfocus="CalcSubtotal(@item.IdProduct)" />
            </td>
            <td>
                <input id="@("itemsubtotal" + @item.IdProduct)" name="productsubtotal" style="text-align: center" type="text" class="panel-info totalView dataContainer" value="@item.LineTotal" readonly="readonly"/>
            </td>
            <td style="width: 2%">
                <button id="@("elim" + @item.IdProduct)" class="btn btn-danger btn-xs" onclick="deleteProduct(@item.IdProduct)"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
        </tr>
    }
    </tbody>
</table>
<span id="spanquantitytable" style="color: red"></span>
<span id="spanpricetable" style="color: red"></span>
<span id="spandiscounttable" style="color: red"></span>
<table class="table table-condensed table-striped table-bordered">
    <thead>
        <tr class="text-center" style="color: black; font-weight: bold; background-color: lightsteelblue">
            <td>
                Comentarios
            </td>
            <td style="width: 25%">
                Total
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <input type="text" id="salecomments" value="@Model.Comments"/>
            </td>
            <td>
                <input type="text" id="totalgral" class="panel-info text-center totalView dataContainer" value="@Model.SaleTotal" readonly="readonly" />
                @*@Html.TextBoxFor(model => model.SaleTotal, new {@readonly = "readonly", @class = "totalView", @id = "totalgral"})*@
            </td>
        </tr>
    </tbody>
</table>
<hr style="color: grey" />
<div style="width: 100%; display: flex">
    <div style="width: 25%; text-align: left">
        <a href="@Url.Action("Index", "Sales")" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-hand-left " aria-hidden="true"></span>&nbsp; Volver</a>
    </div>
    <div style="width: 50%; text-align: center">
        <button type="button" id="guardar" class="btn btn-success btn-md " value="Guardar">
            Guardar &nbsp;<span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
    </div>
    <div style="width: 25%"></div>
</div>

<link href="@Url.Content("~/Content/Select2/select2.min.css")" rel="stylesheet" />
@section scripts{
<script src="@Url.Content("~/Content/Select2/select2.js")"></script>
    <script src="@Url.Content("~/Scripts/solonumerosptocoma.js")"></script>
    <script src="@Url.Content("~/Scripts/solonumeros.js")"></script>
    <script>
        $(document).ready(function() {
            //$('#Date').datepicker();

            $(".js-example-basic-single").select2();

            changecust(@Model.IdCustomer);
        });

        $("#mostrar").click(function () {
            $("#mostrar").hide();
            $("#nuevalinea").toggle("slow");

        });
        $("#ocultar").click(function () {
            $("#nuevalinea").toggle("slow");
            $("#mostrar").toggle("slow");
        });

        //CARGA AUTOMÁTICA DE DIRECCIÓN Y CUIL/CUIT DE CLIENTE

        function changecust(idcustomer) {
            var options = {};
            options.url = '@Url.Action("Getcustomerdata", "Sales")';
            options.type = "GET";
            options.data = { "cus": idcustomer };
            options.dataType = "json";
            options.success = function(data) {
                if (data.CustomerAddress != null) {
                    $('#customeraddress').val(data.CustomerAddress);
                }
                if (data.CuitCuil != null) {
                    $('#customercuil').val(data.CuitCuil);
                }
            };
            $.ajax(options);
        }

        //CARGA AUTOMATICA DE CAMPOS DE LINEA DE PRODUCTO

        function addproduct(x) {
            if (x == 0) {
                $('#spanproducto').text("Es necesario completar el campo Producto");

                document.getElementById("lineprice").value = "0.00";
                document.getElementById("linetotal").value = "0.00";
            } else {
                $('#spanproducto').text("");

                var options = {};
                options.url = '@Url.Action("Getproductdata", "Sales")';
                options.type = "GET";
                options.data = { "pro": $("#linedescription").val() };
                options.dataType = "json";
                options.success = function (data) {
                    document.getElementById("lineprice").value = data;
                    var price = parseFloat($('#lineprice').val());
                    var quantity = parseFloat($('#linequantity').val());
                    var discount = parseFloat($('#linediscount').val());
                    var total = (price * quantity);
                    total = total - (total * discount / 100);

                    if (total > 0) {
                        document.getElementById("linetotal").value = total.toFixed(2);
                    }

                };
                $.ajax(options);
            }
        }

        //VALIDACIONES PARA INGRESAR UN NUEVO PRODUCTO

        function totallinea() {
            var isAllValid = true;

            if ($('#linedescription').val() != 0) {

                if ($('#lineprice').val() == 0 | $('#lineprice').val().trim() == '') {
                    isAllValid = false;
                    $('#spanprice').text("No se puede vender un Producto por $0.00, para realizar esta operación se recomienda realizar un descuento del 100%");
                    document.getElementById("linetotal").value = "0.00";
                } else {
                    $('#spanprice').text("");
                }

                if ($('#linequantity').val() < 1) {
                    isAllValid = false;
                    $('#spanquantity').text("La cantidad debe ser mayor a cero");
                    document.getElementById("linetotal").value = "0.00";

                } else {
                    $('#spanquantity').text("");
                }

                if ($('#linediscount').val() > 100 | $('#linediscount').val() == '') {
                    isAllValid = false;
                    $('#spandiscount').text("El descuento no puede superar el 100%");
                    document.getElementById("linetotal").value = "0.00";
                } else {
                    $('#spandiscount').text("");
                }

            } else {
                isAllValid = false;
            }


            if (isAllValid) {
                var price = parseFloat($('#lineprice').val());
                var quantity = parseFloat($('#linequantity').val());
                var discount = parseFloat($('#linediscount').val());
                var total = (price * quantity);
                total = total - (total * discount / 100);
                document.getElementById("linetotal").value = total.toFixed(2);
            }
        }

        //BOTÖN PÄRA AGREGAR UN NUEVO PRODUCTO
        $('#add').click(function() {
            var isAllValid = true;

            if ($('#linedescription').val() == 0) {
                isAllValid = false;
                $('#spanproducto').text("Es necesario completar el campo Producto. ");
            } else {
                $('#spanproducto').text("");

                if ($('#linequantity').val() < 1 | $('#linequantity').val().trim() == '') {
                    isAllValid = false;
                    $('#spanquantity').text("La cantidad debe ser mayor a cero. ");
                } else {
                    $('#spanquantity').text("");
                }

                if ($('#lineprice').val() == 0 | $('#lineprice').val().trim() == '') {
                    isAllValid = false;
                    $('#spanprice').text("No se puede vender un Producto por $0.00, para realizar esta operación se recomienda realizar un descuento del 100%. ");
                } else {
                    $('#spanprice').text("");
                }

                if ($('#linediscount').val() > 100 | $('#linediscount').val().trim() == '') {
                    isAllValid = false;
                    $('#spandiscount').text("El descuento no puede superar el 100%. ");
                } else {
                    $('#spandiscount').text("");
                }

                var exist = prodexist($('#linedescription').val());
                if (exist) {
                    $('#spanproducto').text("");
                } else {
                    $('#spanproducto').text("El Producto que intenta agregar ya existe en la Lista de Productos. ");
                    isAllValid = false;
                }
            }

            if (isAllValid) {

                //ACA INSERTAMOS EL HTML DEL NUEVO PRODUCTO A LA LISTA

                var idproduct = $('#linedescription').val();
                $('#insert').append('<tr id="inserttd'+idproduct+'"></tr>');

                $('#inserttd' + idproduct).append('<td class="text-center"><input id="itemid'+idproduct+'" name="productid" readonly="readonly" style="border: none; background-color: transparent; width: 70%; text-align: center" /></td>');
                $('#itemid' + idproduct).val(idproduct);

                $('#inserttd' + idproduct).append('<td><input id="itemdesc'+idproduct+'" name="productdescription" readonly="readonly" style="border: none; background-color: transparent" /></td>');

                var options = {};
                options.url = '@Url.Action("Getproductdescription", "Sales")';
                options.type = "GET";
                options.data = { "pro": $('#linedescription').val() };
                options.dataType = "json";
                options.success = function (data) {

                    $('#itemdesc' + idproduct).val(data);

                };
                $.ajax(options);

                $('#inserttd' + idproduct).append('<td><input id="itemquantity' + idproduct + '" name="productquantity" style="text-align: center" type="number" min="0" onchange="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" oninput="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" onfocus="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" /></td>');
                $('#itemquantity' + idproduct).val($('#linequantity').val());

                $('#inserttd' + idproduct).append('<td><input id="itemprice' + idproduct + '" name="productprice" style="text-align: center" type="number" min="1" onchange="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" oninput="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" onfocus="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" /></td>');
                $('#itemprice' + idproduct).val($('#lineprice').val());

                $('#inserttd' + idproduct).append('<td><input id="itemdiscount' + idproduct + '" name="productdiscount" style="text-align: center; width: 90%" type="number" min="0" max="100" onchange="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" oninput="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" onfocus="CalcSubtotal(' + idproduct + '); ValidLine(' + idproduct + ');" /></td>');
                $('#itemdiscount' + idproduct).val($('#linediscount').val());

                $('#inserttd' + idproduct).append('<td><input id="itemsubtotal'+idproduct+'" name="productsubtotal" style="text-align: center" type="text" class="panel-info text-center totalView dataContainer" readonly="readonly" /></td>');
                document.getElementById("itemsubtotal" + idproduct).value = $('#linetotal').val();

                $('#inserttd' + idproduct).append('<td><button id="elim' + idproduct + '" class="btn btn-danger btn-xs" onclick="deleteProduct(' + idproduct + ')"><span class="glyphicon glyphicon-remove"></span></button></td>');
                
                //$('#linedescription').val(0);
                $('#linequantity').val('1');
                $('#lineprice').val('0');
                $('#linediscount').val('0');
                $('#linetotal').val('0.00');
            }

            calcgral();

        });

        //FUNCIÓN PARA VALIDAR SI EL PRODUCTO INGRESADO YA EXISTE EN LA LISTA DE PRODUCTOS

        function prodexist(id) {
            var products = [];

            $('input[name="productid"]').map(function () { products.push(this.value) });

            for (var i = 0; i < products.length; i++) {
                if (products[i] == id) {
                    return false;
                }
            }

            return true;
        }

        //BOTÓN PARA ELIMINAR UN PRODUCTO DE LA LISTA DE PRODUCTOS

        function deleteProduct(id) {
            $('#elim' + id).closest('tr').remove();
            calcgral();
        }

        //FUNCIÓN PARA CALCULAR EL TOTAL GENERAL DE VENTA

        function calcgral() {
            var subtotals = [];
            var total = 0;

            $('input[name="productsubtotal"]').map(function () { subtotals.push(parseFloat(this.value)) });

            for (var i = 0; i < subtotals.length; i++) {
                total += subtotals[i];
            }
            
            document.getElementById("totalgral").value = total.toFixed(2);
        }

        //FUNCIÓN PARA CÁLCULO AUTOMÁTICO DE LOS SUBTOTALES DE LA TABLA DE PRODUCTOS

        function CalcSubtotal(idproduct) {
            var subtotal = $('#itemquantity'+ idproduct).val() * $('#itemprice' + idproduct).val();
            subtotal = subtotal - (subtotal * $('#itemdiscount' + idproduct).val() / 100 );

            document.getElementById('itemsubtotal' + idproduct).value = subtotal.toFixed(2);

            calcgral();
        }

        //VALIDACIONES DE LÍNEAS DE TABLA DE PRODUCTOS

        function ValidLine(idproduct) {

            if ($('#itemquantity' + idproduct).val() == 0) {
                $('#itemquantity' + idproduct).css("border-color","red");
                $('#spanquantitytable').text('Error, la cantidad vendida de un producto no puede ser cero');

            } else {
                $('#itemquantity' + idproduct).css("border-color","");
                $('#spanquantitytable').text('');
            }

            if ($('#itemprice' + idproduct).val() == 0) {
                $('#itemprice' + idproduct).css("border-color", "red");
                $('#spanpricetable').text('Error, el precio no puede ser cero, se recomienda realizar un descuento del 100%');
            } else {
                $('#itemprice' + idproduct).css("border-color", "");
                $('#spanpricetable').text('');
            }

            if ($('#itemdiscount' + idproduct).val() > 100) {
                $('#itemdiscount' + idproduct).css("border-color", "red");
                $('#spandiscounttable').text('Error, el descuento no puede superar el 100%');
            } else {
                $('#itemdiscount' + idproduct).css("border-color", "");
                $('#spandiscounttable').text('');
            }
        }

        $('#guardar').click(function() {
            if ($('#spanquantitytable').val() == '' & $('#spanpricetable').val() == '' & $('#spandiscounttable').val() == '') {
                var saleproducts = [];
                var productids = [];
                var productdescriptions = [];
                var productquantities = [];
                var productprices = [];
                var productdiscounts = [];
                //var productsubtotals = [];
                
                $('input[name="productid"]').map(function () { productids.push(parseFloat(this.value)) });
                //$('input[name="productdescription"]').map(function () { productdescriptions.push(this.value) });
                $('input[name="productquantity"]').map(function () { productquantities.push(parseFloat(this.value)) });
                $('input[name="productprice"]').map(function () { productprices.push(parseFloat(this.value)) });
                $('input[name="productdiscount"]').map(function () { productdiscounts.push(parseFloat(this.value)) });
                //$('input[name="productsubtotals"]').map(function () { productsubtotals.push(parseFloat(this.value)) });

                var product;
                for (var i = 0; i < productids.length; i++) {
                    product = {
                        IdProduct: productids[i],
                        //ProductDescription: productdescriptions[i],
                        LineQuantity: productquantities[i],
                        LinePrice: productprices[i],
                        LineDiscount: productdiscounts[i],
                        LineTotal: (productquantities[i]*productprices[i]) - (productquantities[i]*productprices[i]*productdiscounts[i]/100)
                    }

                    saleproducts.push(product);
                }

                var sale = {
                    IdSale: @Model.IdSale,
                    SaleState: parseInt($('#salestate').val()),
                    @*SaleDate: @Model.SaleDate,*@
                    SaleCustomer: $('#customerid').val(),
                    SaleLines: saleproducts,
                    SaleComments: $('#salecomments').val(),
                    SaleTotal: $('#totalgral').val()

                }

                $.ajax({
                    url: '@Url.Action("EditSales","Sales")',
                    type: "POST",
                    data: JSON.stringify(sale),
                    dataType: "JSON",
                    contentType: "application/json",
                    success: function(d) {
                        if (d.status) {
                            var url = '@Url.Action("Index", "Sales")';
                            window.location.href = url;
                        }
                    }
                });

            }
        });

    </script>
}