@model IEnumerable<MinimercadoAlfredo.Models.Sale>

@{
    ViewBag.Title = "Todas las Ventas";
}

<head>
    <style>
        .selected {
            background-color: lightblue !important;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .phover:hover {
            background-color: lightblue;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: min-content;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            padding: 8px 12px;
            z-index: 1;
            text-align: left;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        #tabla {
            height: 450px;
            overflow: scroll;
        }

        #pag input {
            color: white;
            background-color: #446e9b;
            border: 1px solid #2e4b69;
            border-radius: 3px;
        }
    </style>


</head>
@if (TempData["message"] != null)
{
    <input id="message" style="display: none" value="@TempData["message"]" />
}
<div class="row">
    @Html.Hidden("imprimirSeleccionadas", Url.Action("GetPdfSelected", "Sales"))
    <div class="col-lg-3">
        <a href="@Url.Action("CreateSale", "Sales")" class="btn btn-success" style="margin-top: 6%">Agregar Venta</a>
    </div>
    <div class="col-lg-6">
        <h2 class="text-center">Lista de Ventas</h2>
    </div>
    <div class="col-lg-3 text-right">

        <div class="dropdown" style="padding-top: 10px;">
            <button title="Imprimir" class="btn btn-info" style="margin-top:6%"><span class="glyphicon glyphicon-print"></span> Imprimir</button>            <div class="dropdown-content">
                <h4 class="phover" style="cursor: pointer;" id="ventasSeleccionadas">Seleccionadas</h4>
                <h4 class="phover" style="cursor: pointer" id="ventasDelDia"> Aún no impresas</h4>
            </div>
        </div>

    </div>

</div>
<hr style="color: grey; border-color: grey; margin-top: 0" />

<div class="btn-group btn-group-justified btn-group-xs" style="margin-top: -1%">
    <a href="#" class="btn btn-default active">Todas</a>
    <a href="@Url.Action("Pending","Sales")" class="btn btn-default">Pendientes</a>
    <a href="@Url.Action("Finalized","Sales")" class="btn btn-default">Finalizadas</a>
</div>
<div style="width:100%;display:inline-flex">
    <div style="width:12%"><p>Mostrar páginas de </p></div>
    <div style="width:5%;margin:17px 0 5px">
        <select id="widthpage" style="font-weight:bold">
            @if (ViewBag.WidthPage == 100)
            {
                <option value="@Url.Action("Index", "Sales", new { pag = 1, widthpage = 100 })" selected="selected">100</option>
                <option value="@Url.Action("Index", "Sales", new { pag = 1, widthpage = 200 })">200</option>
                <option value="@Url.Action("Index", "Sales", new { pag = 1, widthpage = 300 })">300</option>
                <option value="@Url.Action("Index", "Sales", new { pag = 1, widthpage = 400 })">400</option>
            }
            else
            {
                if (ViewBag.WidthPage == 200)
                {
                    <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=100})">100</option>
                    <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=200})" selected="selected">200</option>
                    <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=300})">300</option>
                    <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=400})">400</option>
                }
                else
                {
                    if (ViewBag.WidthPage == 300)
                    {
                        <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=100})">100</option>
                        <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=200})">200</option>
                        <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=300})" selected="selected">300</option>
                        <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=400})">400</option>
                    }
                    else
                    {
                        <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=100})">100</option>
                        <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=200})">200</option>
                        <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=300})">300</option>
                        <option value="@Url.Action("Index","Sales",new { pag=1,widthpage=400})" selected="selected">400</option>
                    }
                }
            }
        </select>
    </div>
    <div style="width:33%"><p> ventas</p></div>
    <div class="text-right" style="width:50%;margin: 17px 0 5px">
        <text>Buscar:</text>&nbsp;
        <input id="searchcustomer" type="text" />
        <input id="searchdate" type="date" style="display: none" />
        <input id="searchnumber" type="number" style="display: none" />
        <text>por:</text>&nbsp;
        <select id="selectsearch" onchange="ShowInput(value)">
            <option value="0">Cliente</option>
            <option value="1">Fecha de Venta</option>
            <option value="2">Nro Venta</option>
        </select>
        <button id="searchsale" class="btn-primary btn-xs"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
</div>
<div id="tabla" style="margin-top: 1%">
    <table class="table table-condensed display table-striped table-bordered">
        <thead>
            <tr class="text-center" style="color:black;font-weight: bold; background-color:lightsteelblue">
                <th style="width: 10%">
                    Nº Venta
                </th>
                <th style="width: 14%">
                    @Html.DisplayNameFor(model => model.SaleDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.CustomerName)
                </th>
                <th class="text-center" style="width: 13%">
                    @Html.DisplayNameFor(model => model.SaleTotal)
                </th>
                <th class="text-center" style="width: 12%">
                    Estado
                </th>
                <th class="text-center" style="width: 14%">
                    Opciones
                </th>
            </tr>
        </thead>
        <tbody id="tbody">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdSale)

                    </td>
                    <td>
                        <div class="hidden">@Html.DisplayFor(modelItem => item.SaleDate)</div>
                        <div>
                            @Html.DisplayFor(modelItem => item.SaleDate.Day)/@Html.DisplayFor(modelItem => item.SaleDate.Month)/@Html.DisplayFor(modelItem => item.SaleDate.Year)
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.SaleTotal)
                    </td>
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.SaleState)
                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("Details", "Sales", new {id = item.IdSale})" class="btn btn-primary btn-sm" title="Detalles"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                        @if (item.SaleState == MinimercadoAlfredo.Models.SaleState.Pendiente)
                        {
                            <a href="@Url.Action("EditSales", "Sales", new {id = item.IdSale})" class="btn btn-primary btn-sm" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                            <a href="@Url.Action("Delete", "Sales", new {id = item.IdSale, view = 1})" class="btn btn-danger btn-sm dialog-window" title="Eliminar"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                        }
                        else
                        {
                            <button type="button" class="btn btn-primary btn-sm" title="Editar" onclick="finalized()"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
                            <button type="button" class="btn btn-danger btn-sm" title="Eliminar" onclick="deleted()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewBag.Page != 0 & ViewBag.CantPages != 0)
{
    <div style="width: 100%" class="text-right">
        <div id="pag" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a id="pagant" href="@Url.Action("Index", "Sales", new {pag = ViewBag.Page - 1, widthpage = ViewBag.WidthPage})" class="btn btn-primary"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span> Anterior</a>
                @if (ViewBag.CantPages > 2)
                {
                    if (ViewBag.Page > 2)
                    {
                        if (ViewBag.CantPages < ViewBag.Page + 2 & ViewBag.CantPages > 4) //
                        {
                            if (ViewBag.Page < ViewBag.CantPages)
                            {
                                for (var i = ViewBag.Page - 3; i < ViewBag.Page + 2; i++) //última y anteúltima
                                {
                                    <a id="@("pag" + i)" href="@Url.Action("Index", "Sales", new {pag = i, widthpage = ViewBag.WidthPage})" class="btn btn-primary">@i</a>
                                }
                            }
                            else
                            {
                                for (var i = ViewBag.Page - 4; i < ViewBag.Page + 1; i++)
                                {
                                    <a id="@("pag" + i)" href="@Url.Action("Index", "Sales", new {pag = i, widthpage = ViewBag.WidthPage})" class="btn btn-primary">@i</a>
                                }
                            }
                        }
                        else
                        {
                            if (ViewBag.CantPages == 4)
                            {
                                for (var i = 1; i < ViewBag.CantPages + 1; i++) //4 páginas (caso raro)
                                {
                                    <a id="@("pag" + i)" href="@Url.Action("Index", "Sales", new {pag = i, widthpage = ViewBag.WidthPage})" class="btn btn-primary">@i</a>
                                }
                            }
                            else
                            {
                                for (var i = ViewBag.Page - 2; i < ViewBag.Page + 3 & i < ViewBag.CantPages + 1; i++) //Medio
                                {
                                    <a id="@("pag" + i)" href="@Url.Action("Index", "Sales", new {pag = i, widthpage = ViewBag.WidthPage})" class="btn btn-primary">@i</a>
                                }
                            }
                        }
                    }
                    else
                    {
                        for (var i = 1; i < ViewBag.CantPages + 1 & i < 6; i++)
                        {
                            <a id="@("pag" + i)" href="@Url.Action("Index", "Sales", new {pag = i, widthpage = ViewBag.WidthPage})" class="btn btn-primary">@i</a>
                        }
                    }
                }
                else
                {
                    for (var i = 1; i < ViewBag.CantPages + 1; i++)
                    {
                        <a id="@("pag" + i)" href="@Url.Action("Index", "Sales", new {pag = i, widthpage = ViewBag.WidthPage})" class="btn btn-primary">@i</a>
                    }
                }
                <a id="pagsig" href="@Url.Action("Index", "Sales", new {pag = ViewBag.Page + 1, widthpage = ViewBag.WidthPage})" class="btn btn-primary">Siguiente <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></a>
            </div>

        </div>
    </div>
}
else
{
    <a href="@Url.Action("Index", "Sales", new { pag = 1, widthpage = 100})" class="btn btn-primary">Terminar Búsqueda</a>
}

<input id="noHayFacturasPImprimir" style="display: none" value="@TempData["FacturasTodasImpresas"]" />

@section scripts
{
    <script>
        $(document).ready(function() {
            var page = @ViewBag.Page;
            $('#pag' + @ViewBag.Page).addClass('active');
            @*$('#widthpage').val(@ViewBag.WidthPage).trigger('change');*@
            if (page == 1) {
                $('#pagant').addClass('disabled');
            }
            if (page == @ViewBag.CantPages) {
                $('#pagsig').addClass('disabled');
        }

        if (@ViewBag.Customer != 0) {
            $('#searchcustomer').val(@ViewBag.Customer);
        }

        if ($('#noHayFacturasPImprimir').isNaN) {
            toastr["info"]("Todas las facturas fueron impresas con anterioridad. Si desea reimprimirlas puede seleccionar las deseadas y elegir  imprimir 'SELECCIONADAS'.<br /><br /><button type='button' class='btn clear'>Ok</button>", "Atención");

            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": 0,
                "extendedTimeOut": 0,
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "tapToDismiss": false
            }
        };

        arraySelected = [];

        $('#tabla tbody').on('click', 'tr', function() {

            $(this).toggleClass('selected');

            if ($(this).hasClass('selected')) {
                arraySelected.push(table.row(this).data()[0]);
                //acá tengo que agregar los id al arreglo
            } else {

                var index = arraySelected.indexOf(table.row(this).data()[0]);
                arraySelected.splice(index, 1);

                //aca quitar los id al arreglo
            }

        });

        $('#imprimirVentas').click(function() {
            alert(table.rows('.selected').data().length + ' row(s) selected');
        });

        $('.dropdown-toggle').dropdown();

        if ($('#message').val() == 0) {
            toastr.warning("Ha ocurrido un error al eliminar la venta");
        };
        if ($('#message').val() == 2) {
            toastr.success("Venta modificada exitosamente");
        };
        if ($('#message').val() == 3) {
            toastr.success("Venta eliminada exitosamente");
        };
    });

        function finalized() {
            bootbox.alert({
                title: "Editar Venta",
                message: "Acción denegada. Solo es posible modificar ventas pendientes",
                buttons: {
                    ok: {
                        label: 'Aceptar',
                        className: 'btn-primary'
                    }
                }
            });
        }

        function deleted() {
            bootbox.alert({
                title: "Eliminar Venta",
                message: "Acción denegada. Solo es posible eliminar ventas pendientes",
                buttons: {
                    ok: {
                        label: 'Aceptar',
                        className: 'btn-primary'
                    }
                }
            });
        }


        //Script imprimir
        $('#ventasSeleccionadas').click(function () {


            var url = "/Sales/GetPdfSelected?";
            $.each(arraySelected, function (key, value) {
                if (key == arraySelected.length - 1) {
                    url = url + "arraySelected=" + value ;
                } else {
                    url = url + "arraySelected=" + value + "&";
                }

            });
            if (arraySelected.length > 0) {
                window.open(url);
            }



        });

        $('#ventasDelDia').click(function() {
            var url1 = "/Sales/GetPdfSelected?" + "arraySelected=NoImp";
            window.open(url1);
        });

        function ShowInput(value) {
            switch (value) {
                case '0':
                    $('#searchdate').hide();
                    $('#searchnumber').hide();
                    $('#searchdate').val(null);
                    $('#searchnumber').val(null);
                    $('#searchcustomer').show('slow');
                    break;
                case '1':
                    $('#searchcustomer').hide();
                    $('#searchnumber').hide();
                    $('#searchcustomer').val(null);
                    $('#searchnumber').val(null);
                    $('#searchdate').show('slow');
                    break;
                case '2':
                    $('#searchcustomer').hide();
                    $('#searchdate').hide();
                    $('#searchcustomer').val(null);
                    $('#searchdate').val(null);
                    $('#searchnumber').show('slow');
                    break;
            }
        }

        $('#searchsale').click(function () {
            if ($('#selectsearch').val() == 0) {
                if ($('#searchcustomer').val() != '') {
                    var url = '@Url.Action("GetSales", "Sales", new { customer = "__customer__" })';
                    window.location.href = url.replace('__customer__', $('#searchcustomer').val().trim());
                }
            } else {
                if ($('#searchdate').val() != '') {
                    var url = '@Url.Action("GetSales", "Sales", new { date = "__date__", customer = String.Empty, idsale = 0 })';
                    window.location.href = url.replace('__date__', $('#searchdate').val());
                } else {
                    if ($('#searchnumber').val() != null & $('#searchnumber').val() != 0){
                        var url = '@Url.Action("GetSales", "Sales", new { idsale = "__idsale__" })';
                        window.location.href = url.replace('__idsale__', $('#searchnumber').val());
                    }
                }
            }
        });

        $('#widthpage').change(function () {
            var url = $('#widthpage').val();
            window.location.href = url;
        });
    </script>
}