@model IEnumerable<MinimercadoAlfredo.Models.Sale>

@{
    ViewBag.Title = "Pending";
}

<h2 class="text-center">Lista de Ventas Pendientes</h2>
<hr style="color:grey;border-color:grey" />


<div class="row">
    <div class="col-lg-10">
        <a href="@Url.Action("CreateSale", "Sales")" class="btn btn-success">Agregar Venta</a>
    </div>
    <div class="btn-group col-lg-1">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown">
            Mostrar <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Index","Sales")">Todas</a></li>
            <li><a href="@Url.Action("Pending","Sales")">Pendientes</a></li>
            <li><a href="@Url.Action("Finalized","Sales")">Finalizadas</a></li>
        </ul>
    </div>
</div>
<br />
<table class="table table-striped table-bordered" id="tabla">
    <thead>
    <tr class="text-center" style="color: white; background-color: #4d77a3">
        <th>
            Nº Venta
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaleState)
        </th>
        <th class="text-center">
            Acciones
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleDate)
            </td>
            <td width="350px">
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td width="100px">
                @Html.DisplayFor(modelItem => item.SaleTotal)
            </td>
            <td width="100px">
                <div id="@item.IdSale">@Html.DisplayFor(modelItem => item.SaleState)</div>

            </td>
            <td class="text-center">
                <button id="@item.IdSale" class="@item.IdSale btn-success" data-idsale="@item.IdSale" onclick="finalizar(@item.IdSale)">Finalizar</button>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                            data-toggle="dropdown">
                        Acciones <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li><a href="@Url.Action("Edit","Sales", new { id = item.IdSale })">Editar</a></li>
                        <li><a href="@Url.Action("Details","Sales", new { id = item.IdSale })">Detalles</a></li>
                        <li><a href="@Url.Action("Delete","Sales", new { id = item.IdSale })" class="dialog-window">Eliminar</a></li>
                    </ul>
                </div>
                
            </td>
        </tr>
    }
    </tbody>
</table>

@if (ViewBag.message != null)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mensaje de Aviso</h4>
                </div>
                <div class="modal-body">
                    <p>@ViewBag.message</p>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content"style="margin-left: -30%;margin-right: -30%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Eliminar Venta</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>
            @*<div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>*@
            @*<button type="submit" class="btn btn-primary">Save changes</button>*@
            @*</div>*@
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>function finalizar(a) {

    var self = this;
    var idsale = a;

    var options = {};
    options.url = "/Sales/FinalizeSale";
    options.type = "GET";
    options.data = { "misale": idsale };
    options.dataType = "json";
    options.success = function (data) {
        if (data == "Ok") {
            toastr.success("Venta Nº: " + idsale + " finalizada.");
            $("." + idsale).addClass("hidden");
            document.getElementById(idsale).replaceWith("Finalizada");
        }
    };
    $.ajax(options);
}</script>

@section scripts
{
    <script>
        $('#myModal').modal('show')
    $(document).ready(function () {
        //$("#finalizar").click(function () {

        //    var self = this;
        //    var idsale = $(this).data('idsale');

        //    var options = {};
        //    options.url = "/Sales/FinalizeSale";
        //    options.type = "GET";
        //    options.data = { "misale": idsale };
        //    options.dataType = "json";
        //    options.success = function (data) {
        //        if (data == "Ok") {
        //            toastr.success("Venta Nº: " + idsale + " finalizada.");
        //            $("." + idsale).addClass("hidden");
        //            document.getElementById(idsale).replaceWith("Finalizada");
        //        }
               

        //    };
        //    $.ajax(options);
        //});

        ////Grilla automatica//
        $("#tabla").DataTable({
            "language": { "url": "/Scripts/DataTables/spanish.json" }
        }, {
            order: [[1, "desc"]]
        });
        $('.dropdown-toggle').dropdown();

        //$("body").on("click", "a.dialog-window1", null, function (e) {
        //    e.preventDefault();

        //    var $link = $(this); // Reference to <a/> link
        //    var title = $link.text(); //this is title to fetch in htnl
        //    $('#myModal1.modal-title').html(title);

        //    var url = $(this).attr('href');
        //    if (url.indexOf('#') == 0) {
        //        $('#myModal1').modal('show');
        //    }
        //    else {
        //        $.get(url, function (data) {
        //            $('#myModal1 .te').html(data);
        //            $('#myModal1').modal();
        //        }).success(function () { $('input:text:visible:first').focus(); });
        //    }
        //});


        $("body").on("click", "a.dialog-window", null, function (e){
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal .modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal').modal('show');
            }
            else
            {
                $.get(url, function (data) {
                    $('#myModal .te').html(data);
                    $('#myModal').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });
    })
    </script>
}


