<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Minimercado Alfredo</title>

    <link href="/Content/Site.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/normalize.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript" src='@Url.Content("/../Scripts/jquery-1.12.4.min.js")'></script>
    <script type="text/javascript" src='@Url.Content("/../Scripts/bootstrap.min.js")'></script>
    <style>
        @@media print {
            a[href]:after {
                content: none !important;
            }
        }
    </style>

</head>
<body class="full" background="~/Content/Images/BACKGROUND-TOP.jpg">
    <div class="navbar navbar-inverse hidden-print" style="margin-bottom: 0px;">
        <div class="container">
            <div class="navbar-btn">
                @Html.ActionLink("Minimercado Alfredo", "Index", "Home", new { area = "" }, new { @class = "navbar-Trademark" })
            </div>
            <div class="navbar-collapse">
                <ul class="nav navbar-nav ">
                    <li class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" style="font-weight: bold" class="" data-target="#" href="/page.html">
                            Ventas <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("Nueva", "CreateSale", "Sales")</li>
                            <li>@Html.ActionLink("Listado", "Index", "Sales")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" style="font-weight: bold" class="" data-target="#" href="/page.html">
                            Compras <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li>@Html.ActionLink("Nueva", "CreatePurchase", "Purchases")</li>
                            <li>@Html.ActionLink("Listado", "Index", "Purchases")</li>
                        </ul>
                    </li>
                    
                   
                    @*//inicio productos*@
                    <li class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" style="font-weight: bold" class="" data-target="#" href="/page.html">
                            Productos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li style="font-weight: bold;">@Html.ActionLink("Listado", "Index", "Products")</li>
                            <li>@Html.ActionLink("Rubros", "Index", "Categories")</li>
                            <li style="font-weight: bold;">@Html.ActionLink("Baja Stock", "RemoveStock", "Products")</li>
                            <li style="font-weight: bold;">@Html.ActionLink("Alta Stock", "AddStock", "Products")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a id="dLabel" data-toggle="dropdown" style="font-weight: bold" class="" data-target="#" href="/page.html">
                            Catálogos <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
                            <li style="font-weight: bold;"><a href="@Url.Action("Catalog", "Products", new {personal = true})">Vendedores</a></li>
                            <li style="font-weight: bold;"><a href="@Url.Action("Catalog", "Products", new {personal = false})">Clientes</a></li>
                        </ul>
                    </li>




                    @*//fin productos*@
                    <li>@Html.ActionLink("Clientes", "Index", "Customers")</li>
                    <li>@Html.ActionLink("Proveedores", "Index", "Providers")</li>
                    @*<li>@Html.ActionLink("Usuarios", "Index", "Users")</li>*@

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center hidden-print"> - Sistema Minimercado Alfredo &copy; @DateTime.Now.Year - Godesa Solutions ®  <a class="hidden-print" style="color:black ">@Html.ActionLink("Contacto", "Contact", "Home")</></a> - </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
