@model IEnumerable<MinimercadoAlfredo.Models.SaleLine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-condensed  ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdSale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sale.SaleAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LinePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LineTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdSale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sale.SaleAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LinePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LineTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.IdSaleLine}) |
            @Html.ActionLink("Details", "Details", new {id = item.IdSaleLine}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.IdSaleLine})
        </td>
    </tr>
}

</table>
