@model MinimercadoAlfredo.Models.Customer

@{
    Layout = null;
}

@if (ViewBag.errorcustomer != null)
{
    <h4 class="text-center" style="color:red">Acción no admitida.</h4>
    <h5 class="text-center" style="color: red">No se permite eliminar un Proveedor con Compras relacionadas.</h5>
    <br />
    <div class="form-actions no-color text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>

    </div>
}
else
{
    <h4 class="text-center">¿Está seguro de eliminar a @Model.CustomerName de la lista de Clientes?</h4>
    <br />
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CustomerName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerPhone)
            </dd>

            <dt>
                Email
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerEmail)
            </dd>

            <dt>
                CUIL / CUIT
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CuitCuil)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color text-center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </div>
        }
    </div>
}
