@model IEnumerable<MinimercadoAlfredo.Models.Customer>
@{
    ViewBag.Title = "Clientes";
}
<head>
    <link href="/Content/Site.css" rel="stylesheet">
</head>

@if (TempData["message"] != null)
{
    <input id="message" style="display: none" value="@TempData["message"]" />
}

<div class="row">
    <div class="col-lg-3"><a href="@Url.Action("Create", "Customers")" class="btn btn-success" style="margin-top: 6%">Agregar Cliente</a></div>
    <div class="col-lg-6">
        <h2 class="text-center">Lista de Clientes</h2>
    </div>
    <div class="col-lg-3"></div>
</div>
<hr style="color:grey; border-color: grey; margin-top: 0" />

<table class="table table-condensed   table-striped table-bordered" id="tabla">
    <thead>
        <tr class="text-center" style="color:black;font-weight: bold; background-color:lightsteelblue">
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th style="width:18%">
                @Html.DisplayNameFor(model => model.CustomerAddress)
            </th>
            <th style="width:15%">
                @Html.DisplayNameFor(model => model.CustomerPhone)
            </th>
            <th style="width:18%">
                Email
            </th>
            <th style="width:14%">
                Cuit / Cuil
            </th>
            <th class="text-center" style="width:10%">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="@("name"+ item.IdCustomer)">
                    @Html.DisplayFor(modelItem => item.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuitCuil)
                </td>
                <td class="text-center">
                    <a href="@Url.Action("Edit", "Customers", new {id = item.IdCustomer})" class="btn btn-primary btn-sm" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    @if (item.Sales.Any())
                    {
                        <button class="btn btn-danger btn-sm" title="Eliminar" onclick="aviso(@item.IdCustomer)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    }
                    else
                    {
                        <a id="@("del" + item.IdCustomer)" class="btn btn-danger btn-sm dialog-window1" title="Eliminar" onclick="del(@item.IdCustomer)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts
{
    <script>
        $('#myModal').modal('show');

        $(document).ready(function() {

            $('.dropdown-toggle').dropdown();

            ////Grilla automatica//
            $("#tabla").DataTable({
                "lengthMenu": [[50, 100, 150, 200], [50, 100, 150, 200]],
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                },
                "scrollY": "400px",
                "scrollCollapse": true,
                "paging": true
            });
            if ($('#message').val() == 1) {
                toastr.success("Se  ha agregado un nuevo Cliente al sistema");
            };
            if ($('#message').val() == 2) {
                toastr.success("Cliente modificado exitosamente");
            };
            

            $("body").on("click", "a.dialog-window1", null, function(e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal1.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal1').modal('show');
                } else {
                    $.get(url, function(data) {
                        $('#myModal1 .te').html(data);
                        $('#myModal1').modal();
                    }).success(function() { $('input:text:visible:first').focus(); });
                }
            });

        });

        function aviso(customer) {
            bootbox.alert({
                title: "Eliminar Cliente",
                message: "Acción denegada, no es posible eliminar el cliente " + $('#name' + customer).html() + "ya que éste tiene ventas asociadas.",
                buttons: {
                    ok: {
                        label: "Aceptar",
                        className: "btn-primary"
                    }
                }
            });
        }

        function del(customer) {
            bootbox.confirm({
                title: "Eliminar Cliente",
                message: "¿Está seguro de eliminar el cliente" + $('#name' + customer).html() + "?",
                buttons: {
                    confirm: {
                        label: "Eliminar",
                        className: "btn-danger"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function (result) {
                    if (result) {

                        var options = {};
                        options.url = '@Url.Action("DeleteCustomer", "Customers")';
                        options.type = "POST";
                        options.data = { "dato": customer };
                        options.dataType = "json";
                        options.success = function (data) {
                            if (data) {
                                toastr.success("Cliente eliminado exitosamente");

                                $('#del' + customer).closest('tr').remove();
                            }
                        };
                        $.ajax(options);

                    }
                }
            });
        }
    </script>

}
