@using MinimercadoAlfredo.Models
@model MinimercadoAlfredo.Models.LoginViewModel
@{
    Layout = null;
}@Styles.Render("~/Content/css")
<style>
    body {
        background: none !important
    }

    html {
        height: 100% !important;
        background: url("http://pregrado.fen.uchile.cl/img/fondos/FondoPregrado.jpg") !important;
        background-size: cover !important;
    }

    /*#logonortetrans {
        width: 100%;
        height: 100%;
        position: absolute;
        padding: 0;
        margin: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url(../Content/Images/logonorte.png);
        opacity: .3;
        background-position: center;
        background-repeat: space;
    }*/
</style>
<link rel="stylesheet" type="text/css" href="~/Content/roboto.css" />
<link rel="stylesheet" type="text/css" href="~/Content/login.css" />
<div id="logonortetrans"></div>


<div class="login-page">
    <div class="form">
        <div id="loginForm" class="login-form">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2>Iniciar sesión</h2>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "inputa  form-control", @placeholder = "usuario@email.com" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "inputa form-control", @placeholder = "********" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">

                    <button type="submit">Iniciar Sesión</button>

                </div>
            }
        </div>
    </div>

</div>
@Scripts.Render("~/js")

@Scripts.Render("~/bundles/jqueryval")