@model IEnumerable<MinimercadoAlfredo.Models.Provider>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Lista de Proveedores</h2>
<hr style="color:grey;border-color:grey" />

<div>
    <a href="@Url.Action("Create", "Providers")" class="btn btn-success">Agregar Proveedor</a>
</div>
<br />
<table class="table table-striped table-bordered" id="tabla">
    <thead>
        <tr class="text-center" style="color:white; background-color:#4d77a3">
            <th>
                @Html.DisplayNameFor(model => model.ProviderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderPhone)
            </th>
            <th>
                Email
            </th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProviderEmail)
                </td>
                <td class="text-center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdProvider }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdProvider }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdProvider }, new { @class = "btn btn-primary btn-sm" })
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            ////Grilla automatica//
            $("#tabla").DataTable({
                "language": { "url": "/Scripts/DataTables/spanish.json" }
            });

        })
    </script>
}
