@model MinimercadoAlfredo.Models.Trademark

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trademark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrademarkName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrademarkName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrademarkDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrademarkDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTrademark }) |
    @Html.ActionLink("Back to List", "Index")
</p>
