@model IEnumerable<MinimercadoAlfredo.Models.Trademark>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Lista de Marcas</h2>
<hr style="color:grey;border-color:grey" />

<div>
    <a href="@Url.Action("Create", "Trademarks")" class="btn btn-success dialog-window1">Agregar Marca</a>
</div>
<br/>
<table id="tabla" class="table table-condensed   table-striped table-bordered">
    <thead>
    <tr class="text-center" style="color: black; font-weight: bold; background-color: lightsteelblue">
        <th style="width: 25%">
            @Html.DisplayNameFor(model => model.TrademarkName)
        </th>
        <th>
            Descripción
        </th>
        <th class="text-center" style="width: 10%">
            Opciones
        </th>
    </tr>
    </thead>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrademarkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrademarkDescription)
            </td>
            <td class="text-center">
                <a href="@Url.Action("Edit", "Trademarks", new {id = item.IdTrademark})" class="btn btn-primary btn-sm dialog-window2" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a id="@("del" + item.IdTrademark)" class="btn btn-danger btn-sm" onclick="del(@item.IdTrademark)" title="Eliminar"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
            </td>
        </tr>
    }
    </tbody>

</table>

<div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 4%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Agregar Marca</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="margin-top: 4%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Editar Marca</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function() {
            $("#tabla").DataTable({
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }

            });
        });

        $("body").on("click", "a.dialog-window1", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal1.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal1').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal1 .te').html(data);
                    $('#myModal1').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

        $("body").on("click", "a.dialog-window2", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal2.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal2').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal2 .te').html(data);
                    $('#myModal2').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

        function del(trademark) {
            var options = {};
            options.url = '@Url.Action("CheckTrademark", "Trademarks")';
            options.type = "GET";
            options.data = { "dato": trademark };
            options.dataType = "json";
            options.success = function (data) {
                if (data) {
                    bootbox.alert({
                        message: "Solo es posible eliminar marcas sin productos asociados",
                        buttons: {
                            ok: {
                                label: "Aceptar",
                                className: "btn-primary"
                            }
                        }
                    });
                } else {
                    bootbox.confirm({
                        title: "Eliminar marca",
                        message: "Esta seguro de eliminar esta marca?",
                        buttons: {
                            confirm: {
                                label: "Eliminar",
                                className: "btn-danger"
                            },
                            cancel: {
                                label: "Cancelar",
                                className: "btn-primary"
                            }
                        },
                        callback: function(result) {
                            if (result) {
                                
                                var options2 = {};
                                options2.url = '@Url.Action("DeleteTrademark", "Trademarks")';
                                options2.type = "POST";
                                options2.data = { "dato": trademark };
                                options2.dataType = "json";
                                options2.success = function (data) {
                                    if (data) {
                                        toastr.success("Marca eliminada exitosamente");

                                        $('#del' + trademark).closest('tr').remove();

                                    }


                                };
                                $.ajax(options2);

                            }
                        }
                    });
                    
                }


            };
            $.ajax(options);
        }
        
    </script>
}
