@model MinimercadoAlfredo.Models.Product

@{
    Layout = null;
}

<head>
    <script type="text/javascript"> var id = null; function openWindow() { var pnl = $get("pnl"); if (pnl != null) { pnl.style.left = "50px"; pnl.style.top = "50px"; id = setTimeout("movePanel();", 100); } } </script>
</head>

@if (Model.ProductState == true)
{
    <h5 class="text-center">Desactivar este Producto hará que deje de figurar en la Lista de Productos Activos</h5>
    <h5 class="text-center" style="color:red">IMPORTANTE: Recuerde que para vender un Producto, éste debe estar activo</h5>
}
else
{
    <h5 class="text-center">Activar este Producto hará que figure en la Lista de Productos Activos</h5>
}
<br />
<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Trademark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trademark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            Estado
        </dt>
        @if (Model.ProductState == true)
        {
            <dd>
                <text class="text-success">Activo</text>
            </dd>
        }
        else
        {
            <dd>
                <text class="text-danger">Desactivado</text>
            </dd>
        }
        
    </dl>
    <hr style="color:grey;border-color:lightgray" />

    <div class="form-actions no-color text-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
        @if (ViewBag.all != null)
        {
            if (Model.ProductState == true)
            {
                <a href="@Url.Action("DeactivateConfirmation", "Products", new { id = Model.IdProduct, all = true})" class="btn btn-warning">Desactivar</a>
            }
            else
            {
                <a href="@Url.Action("DeactivateConfirmation", "Products", new { id = Model.IdProduct, all = true})" class="btn btn-success">Activar</a>
            }
        }
        else
        {
            if (Model.ProductState == true)
            {
                <a href="@Url.Action("DeactivateConfirmation", "Products", new { id = Model.IdProduct})" class="btn btn-warning">Desactivar</a>
            }
            else
            {
                <a href="@Url.Action("DeactivateConfirmation", "Products", new { id = Model.IdProduct})" class="btn btn-success">Activar</a>
            }
        }
    </div>

    
</div>

