@model MinimercadoAlfredo.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">Detalles de Producto</h2>
<hr style="color:grey;border-color:grey" />

<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WholeSalePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WholeSalePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublicPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UploadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UploadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Minimum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Minimum)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @if (Model.ProductState == true)
            {
                <text>Activo</text>
            }
            else
            {
                <text>Desactivado</text>
            }
        </dd>

        <dt>
            Imagen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Index","Products")" class="btn btn-primary">Volver</a>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProduct }, new {@class = "btn btn-success" })
    
</p>
