@model IEnumerable<MinimercadoAlfredo.Models.Product>

@{
    ViewBag.Title = "Productos Activos";
}

@if (TempData["message"] != null)
{
   <input id="message" style="display: none" value="@TempData["message"]" />
}

<h2 class="text-center">Lista de Productos Activos</h2>
<hr style="color:grey;border-color:grey" />


<div class="row">
    <div class="col-lg-10">
        <a href="@Url.Action("CreateProduct", "Products")" class="btn btn-success chicle">Agregar Producto</a>
    </div>    
    <div class="btn-group col-lg-1">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown">
            Mostrar <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Productos Activos</a></li>
            <li><a href="@Url.Action("Minimum","Products")">Productos con Stock mínimo</a></li>
            <li><a href="@Url.Action("OffProducts","Products")">Productos Desactivados</a></li>
            <li><a href="@Url.Action("Record", "Products")">Todos los Productos</a></li>
            @if (ViewBag.Purchases != 0)
            {
                <li><a href="@Url.Action("LastBought","Products")">Última adquisición</a></li>
            }
        </ul>
    </div>
</div>
<br />
<table class="table table-condensed   table-striped table-bordered" id="tabla">
    <thead>
        <tr class="text-center" style="color:black;font-weight: bold; background-color:lightsteelblue">
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trademark.TrademarkName)
            </th>
            <th class="text-center" style="width: 12%">
                Nro Artículo
            </th>
            <th class="text-center">
                Stock Real
            </th>
            <th class="text-center" style="width: 14%">
                Stock Disponible
            </th>

            <th class="text-center" style="width: 14%">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.ParcialStock >= item.Minimum | item.Minimum == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(modelItem => item.Trademark.TrademarkName)
                    </td>
                    
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.IdProduct)
                    </td>
                    if (item.Category.CategoryName == "Fiambrería" | item.Category.CategoryName == "FIAMBRERÍA" | item.Category.CategoryName == "FIAMBRERIA")
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Stock)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.ParcialStock)
                        </td>
                    }
                    else
                    {
                        <td class="text-center">
                            @item.Stock.Value.ToString("#,##0")
                        </td>
                        <td class="text-center">
                            @item.ParcialStock.Value.ToString("#,##0")
                        </td>
                    }

                }
                else
                {
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Trademark.TrademarkName)
                    </td>
                    <td class="text-center" style="color: red">
                        @Html.DisplayFor(modelItem => item.IdProduct)
                    </td>
                    <td class="text-center" style="color: red">
                        @item.Stock.Value.ToString("#,##0")
                    </td>
                    <td class="text-center" style="color: red">
                        @item.ParcialStock.Value.ToString("#,##0")
                    </td>
                        
                }
                <td class="text-center">
                    <a href="@Url.Action("Details","Products", new { id = item.IdProduct })" class="btn btn-primary btn-sm dialog-window2" title="Detalles"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                    <a href="@Url.Action("EditProduct", "Products", new {id = item.IdProduct})" class="btn btn-primary btn-sm" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a id="@("deac" + @item.IdProduct)" class="btn btn-warning btn-sm hvr-glow" onclick="deac(@item.IdProduct)" title="Desactivar"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<p style="color:red">**Los Productos en color rojo tienen Stock por debajo de la mínima</p>


<div class="modal fade" id="myModal2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Detalle de Producto</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $('#myModal').modal('show');

        $(document).ready(function() {

            if ($('#message').val() == 1)
                toastr.success("Producto agregado correctamente");

            if ($('#message').val() == 2)
                toastr.success("Producto modificado exitosamente");

            if ($('#message').val() == 3)
                toastr.success("Producto desactivado exitosamente");

            if ($('#message').val() == 4)
                toastr.success("Precios modificados exitosamente");


////Grilla automatica//
            $("#tabla").DataTable({
                "lengthMenu": [[50, 100, 150, 200], [50, 100, 150, 200]],
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }

            });

            $("body").on("click", "a.dialog-window1", null, function(e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal1.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal1').modal('show');
                } else {
                    $.get(url, function(data) {
                        $('#myModal1 .te').html(data);
                        $('#myModal1').modal();
                    }).success(function() { $('input:text:visible:first').focus(); });
                }
            });

            $("body").on("click", "a.dialog-window2", null, function(e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal2.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal2').modal('show');
                } else {
                    $.get(url, function(data) {
                        $('#myModal2 .te').html(data);
                        $('#myModal2').modal();
                    }).success(function() { $('input:text:visible:first').focus(); });
                }
            });

            $('.dropdown-toggle').dropdown();
        });

        function deac(x) {

            bootbox.confirm({
                title: "¿Está seguro de Desactivar este Producto?",
                message: "Recuerde que para vender un Producto, éste debe estar Activo",
                buttons: {
                    confirm: {
                        label: "Desactivar",
                        className: "btn-warning"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function(result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("Deactivate", "Products")';
                        options.type = "POST";
                        options.data = { "id": x };
                        options.dataType = "json";
                        options.success = function(data) {
                            if (data) {
                                toastr.success("Producto desactivado exitosamente");
                                $('#deac' + x).closest('tr').remove();
                            }

                        };
                        $.ajax(options);
                }
            }
        });


    }
    </script>
}
