@model IEnumerable<MinimercadoAlfredo.Models.Product>

@{
    ViewBag.Title = "Productos Activos";
}

<h2 class="text-center">Lista de Productos Activos</h2>
<hr style="color:grey;border-color:grey" />


<div class="row">
    <div class="col-lg-10">
        <a href="@Url.Action("Create", "Products")" class="btn btn-success">Agregar Producto</a>
    </div>    
    <div class="btn-group col-lg-1">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown">
            Mostrar <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Index","Products")">Productos Activos</a></li>
            <li><a href="@Url.Action("Minimum","Products")">Productos con Stock mínimo</a></li>
            <li><a href="@Url.Action("OffProducts","Products")">Productos Desactivados</a></li>
            <li><a href="@Url.Action("Record","Products")">Todos los Productos</a></li>            
        </ul>
    </div>
</div>
<br />
<table class="table table-striped table-bordered" id="tabla">
    <thead>
        <tr class="text-center" style="color:white; background-color:#4d77a3">
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trademark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParcialStock)
            </th>
            

            <th class="text-center">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (item.Stock >= item.Minimum | item.Minimum == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    if (item.Trademark == "[Producto sin Marca]")
                    {
                        <td class="text-warning">
                            @Html.DisplayFor(modelItem => item.Trademark)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Trademark)
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParcialStock)
                    </td>
                    
                }
                else
                {
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Category.CategoryName)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.ProductDescription)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.Trademark)
                    </td>
                    <td style="color:red">
                        @Html.DisplayFor(modelItem => item.ProductNumber)
                    </td>
                    <td style="color: red">
                        @Html.DisplayFor(modelItem => item.ParcialStock)
                    </td>
                        
                }
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;<span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Edit","Products", new { id = item.IdProduct })">Editar</a></li>
                            <li><a href="@Url.Action("Details","Products", new { id = item.IdProduct })">Detalles</a></li>
                            <li><a href="@Url.Action("Deactivate","Products", new { id = item.IdProduct })" class="dialog-window1">Desactivar</a></li>
                        </ul>
                    </div>                    
                </td>
            </tr>
        }
    </tbody>
</table>

<text style="color:red">**Los Productos en color rojo tienen Stock por debajo de la mínima</text>

@if (ViewBag.message != null)
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Mensaje de Aviso</h4>
                </div>
                <div class="modal-body">
                    <p>@ViewBag.message</p>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Desactivar Producto</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>            
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $('#myModal').modal('show')

        $(document).ready(function () {

            

        ////Grilla automatica//
        $("#tabla").DataTable({
            "language": {
                "url": "/Scripts/DataTables/spanish.json"
            }
        });

        $("body").on("click", "a.dialog-window1", null, function (e) {
            e.preventDefault();

            var $link = $(this); // Reference to <a/> link
            var title = $link.text(); //this is title to fetch in htnl
            $('#myModal1.modal-title').html(title);

            var url = $(this).attr('href');
            if (url.indexOf('#') == 0) {
                $('#myModal1').modal('show');
            }
            else {
                $.get(url, function (data) {
                    $('#myModal1 .te').html(data);
                    $('#myModal1').modal();
                }).success(function () { $('input:text:visible:first').focus(); });
            }
        });

        $('.dropdown-toggle').dropdown();
    })
    </script>
}
