@model IEnumerable<MinimercadoAlfredo.Models.Product>

@{
    ViewBag.Title = "Última Compra";
}
@if (TempData["message"] != null)
{
    <input id="message" style="display: none" value="@TempData["message"]"/>
    <h2 class="text-center">Productos Comprados</h2>
}
else
{
    <h2 class="text-center">Última Adquisición</h2>
}



<hr style="color:grey;border-color:grey" />

<div class="row">
    <div class="col-lg-10"></div>
    <div class="btn-group col-lg-1">
        <button type="button" class="btn btn-primary dropdown-toggle"
                data-toggle="dropdown">
            Mostrar <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu">
            <li><a href="@Url.Action("Index","Products")">Productos Activos</a></li>
            <li><a href="@Url.Action("Minimum","Products")">Productos con Stock mínimo</a></li>
            <li><a href="@Url.Action("OffProducts","Products")">Productos Desactivados</a></li>
            <li><a href="@Url.Action("Record", "Products")">Todos los Productos</a></li>
            <li><a href="#">Última adquisición</a></li>
        </ul>
    </div>
</div>
<br />
<h3>Compra N°: @ViewBag.Purchase</h3>
<table class="table table-condensed   table-striped table-bordered" id="tabla">
    <thead>
        <tr class="text-center" style="color: black; font-weight: bold; background-color: lightsteelblue">
            <th>
                &nbsp; Producto
            </th>
            <th class="text-center" style="width: 18%">
                Última Actualización
            </th>
            <th class="text-center" style="width: 18%">
                Costo
            </th>
            <th class="text-center" style="width: 18%">
                Precio
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var x = item.IdProduct.ToString() + " - " + item.ProductDescription;

                        if (item.IdTrademark != null)
                        {
                            x = x + " | " + item.Trademark.TrademarkName;
                        }

                        <input type="number" name="productid" value="@item.IdProduct" class="hidden" />
                        <input type="text" value="@x" style="background-color: transparent; border-color: transparent; width: 100%; text-align: left; margin-left: 1%" readonly="readonly" />
                    }
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    <input id="@("cost" + item.IdProduct)" type="text" value="@item.Cost.Value.ToString("#,##0.00")" name="productcost" readonly="readonly" style="border-color: transparent; background-color: transparent; width: 100%; text-align: center" />
                </td>
                <td>
                    <input id="@("wsp" + item.IdProduct)" type="text" value="@item.WholeSalePrice.Value.ToString("#,##0.00")" name="wholesaleprice" class="panel-info text-center form-control fina" onchange="ValidPrice(@item.IdProduct)" style="width: 100%; text-align: center" />
                </td>
            </tr>
                        }
    </tbody>

</table>
<span id="spanwsp" style="color: red"></span><span id="spanpp" style="color: red"></span>

<div class="row text-center" style="margin-top: 2%">
    <div class="col-lg-4 text-left">
        @if (TempData["message"] != null)
        {
            <a href="@Url.Action("Edit", "Purchases", new { id = ViewBag.Purchase})" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp;Volver</a>
        }
        else
        {
            <a href="@Url.Action("Index", "Products")" class="btn btn-primary"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> &nbsp;Volver</a>
        }
    </div>
    <div class="col-lg-4 text-center">
        <button id="save" class="btn btn-success">Guardar &nbsp;<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function() {
            $('.dropdown-toggle').dropdown();

            if ($('#message').val()) {
                toastr.success("Compra registrada exitosamente");
            }
        });

        function ValidPrice(idproduct) {
            $('#spanwsp').text("");
            $('#wsp' + idproduct).css("border-color", "");
            if ($('#save').hasClass("disabled")) {
                $('#save').removeClass("disabled");
            }

            var cost = parseFloat($('#cost' + idproduct).val()).toFixed(2);
            var wsp = parseFloat($('#wsp' + idproduct).val()).toFixed(2);

            if (wsp != "") {
                if (cost > wsp) {

                    $('#spanwsp').text("El precio del producto " + idproduct.toString() + " no puede ser inferior a su costo. ");
                    $('#wsp' + idproduct).css("border-color", "red");
                    $('#save').addClass("disabled");
                }
            }
        }

        $('#save').click(function() {
            var products = [];
            var product;
            var productids = [];
            var priceswsp = [];

            $('input[name="productid"]').map(function () { productids.push(parseFloat(this.value)) });
            $('input[name="wholesaleprice"]').map(function () { priceswsp.push(parseFloat(this.value).toFixed(2)) });

            for (var i = 0; i < productids.length; i++) {
                product = {
                    Productid: productids[i],
                    Wholesaleprice: priceswsp[i]
                }
                products.push(product);
            }

            $.ajax({
                url: '@Url.Action("LastBought","Products")',
                type: "POST",
                data: JSON.stringify(products),
                dataType: "JSON",
                contentType: "application/json",
                success: function(d) {
                    if (d) {
                        var url = '@Url.Action("Index", "Products", new { message = 4})';
                        window.location.href = url;
                    }
                }
            });
        });
    </script>
}


 