@model IEnumerable<MinimercadoAlfredo.Models.Product>

@{
    ViewBag.Title = "Productos Desactivados";
}

@if (TempData["message"] != null)
{
    <input id="message" style="display: none" value="@TempData["message"]" />
}

<div class="row">
    <div class="col-lg-3"><a href="@Url.Action("CreateProduct", "Products")" class="btn btn-success" style="margin-top: 6%">Agregar Producto</a></div>
    <div class="col-lg-6">
        <h2 class="text-center">Productos Desactivados</h2>
    </div>
    <div class="col-lg-3"></div>
</div>
<hr style="color: grey; border-color: grey; margin-top: 0" />

<div class="btn-group btn-group-justified btn-group-xs" style="margin-top: -1%">
    <a href="@Url.Action("Index", "Products")" class="btn btn-default">Activos</a>
    <a href="@Url.Action("Minimum", "Products")" class="btn btn-default">Stock mínimo</a>
    <a href="#" class="btn btn-default active">Desactivados</a>
    <a href="@Url.Action("Record", "Products")" class="btn btn-default">Todos</a>
    @if (ViewBag.Purchases != 0)
    {
        <a href="@Url.Action("LastBought", "Products")" class="btn btn-default">Última compra</a>
    }
</div>
<br />
<table class="table table-condensed   table-striped table-bordered" id="tabla">
    <thead>
        <tr class="text-center" style="color:black;font-weight: bold; background-color:lightsteelblue">
            <th>
                Rubro
            </th>
            <th style="width: 30%">
                Producto
            </th>
            <th>
                Marca
            </th>
            <th class="text-center" style="width:18%">
                Opciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProduct) - @Html.DisplayFor(modelItem => item.ProductDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Trademark.TrademarkName)
                </td>
                <td class="text-center">
                    <a href="@Url.Action("Details", "Products", new {id = item.IdProduct})" class="btn btn-primary btn-sm dialog-window3" title="Detalles"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                    <a href="@Url.Action("EditProduct", "Products", new {id = item.IdProduct})" class="btn btn-primary btn-sm" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    <a id="@("deac" + @item.IdProduct)" class="btn btn-success btn-sm hvr-glow" onclick="deac(@item.IdProduct)" title="Activar"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div class="modal fade" id="myModal1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Eliminar Producto</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal3" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Detalle de Producto</h4>
            </div>
            <div class="modal-body">
                <div class="te">Espere...</div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $('#myModal').modal('show');

        $(document).ready(function() {

            if ($('#message').val() == 4) {
                toastr.success("Producto modificado exitosamente");
            }

            ////Grilla automatica//
            $("#tabla").DataTable({
                "lengthMenu": [[50, 100, 150, 200], [50, 100, 150, 200]],
                "language": {
                    "url": "/Scripts/DataTables/spanish.json"
                }
            });

            $("body").on("click", "a.dialog-window1", null, function(e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal1.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal1').modal('show');
                } else {
                    $.get(url, function(data) {
                        $('#myModal1 .te').html(data);
                        $('#myModal1').modal();
                    }).success(function() { $('input:text:visible:first').focus(); });
                }
            });

            $("body").on("click", "a.dialog-window2", null, function(e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal2.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal2').modal('show');
                } else {
                    $.get(url, function(data) {
                        $('#myModal2 .te').html(data);
                        $('#myModal2').modal();
                    }).success(function() { $('input:text:visible:first').focus(); });
                }
            });

            $("body").on("click", "a.dialog-window3", null, function(e) {
                e.preventDefault();

                var $link = $(this); // Reference to <a/> link
                var title = $link.text(); //this is title to fetch in htnl
                $('#myModal3.modal-title').html(title);

                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#myModal3').modal('show');
                } else {
                    $.get(url, function(data) {
                        $('#myModal3 .te').html(data);
                        $('#myModal3').modal();
                    }).success(function() { $('input:text:visible:first').focus(); });
                }
            });

            $('.dropdown-toggle').dropdown();
        });

        function deac(x) {

            bootbox.confirm({
                title: "¿Está seguro de Activar este Producto?",
                message: "Al Activar este Producto, podrá volver a venderlo con normalidad",
                buttons: {
                    confirm: {
                        label: "Activar",
                        className: "btn-success"
                    },
                    cancel: {
                        label: "Cancelar",
                        className: "btn-primary"
                    }
                },
                callback: function(result) {
                    if (result) {
                        var options = {};
                        options.url = '@Url.Action("Deactivate", "Products")';
                        options.type = "POST";
                        options.data = { "id": x };
                        options.dataType = "json";
                        options.success = function(data) {
                            if (data) {
                                toastr.success("Producto Activado exitosamente");
                                $('#deac' + x).closest('tr').remove();
                            }

                        };
                        $.ajax(options);
                }
            }
        });


        }
    </script>
}
