@model MinimercadoAlfredo.Models.Sale

@{
    ViewBag.Title = "Baja Productos";
}
<head>


</head>
@*///////////////////////////*@


<h3 class="text-center hidden-print" style="margin-bottom: 5px;">
    Dar de baja productos
</h3>

<legend style="margin-bottom: 2px;">
    Productos a dar de baja
</legend>
<table id="mytable" class="table table-condensed   table-condensed table-bordered">
    <thead>
        <tr class="text-center" style="color:black;font-weight: bold; background-color:lightsteelblue">
            <th class="text-center">
                Producto
            </th>
            <th class="text-center">
                Stock Actual
            </th>
            <th class="text-center">
                #Baja
            </th>
            <th class="text-center">
                Stock Posterior
            </th>
            <th class="text-center">
                Acción
            </th>
        </tr>
    </thead>
    <tbody id="last">
    <td>
        <select class="js-example-basic-single" id="linedescription" style="font: small-caption; width: 200px; height: 25px; background-color: beige;" onchange="javacript: var valor = this.options[selectedIndex].text; document.getElementById('shadow').value = valor;">
            <option value="0">Seleccionar Producto...</option>
            @foreach (var item in ViewBag.Products)
            {
                <option value="@item.IdProduct">@item.ProductNumber - @item.ProductDescription</option>
            }
        </select>
        <input type="hidden" id="shadow" value="">
        <span class="error">Requerido</span>
    </td>
    <td>
        <input type="text" class="panel-info" style="width: 130px;height:25px;" id="stockactual" value="0" onchange="totalstock()" onkeypress="solonumerosptocoma()" readonly="readonly" />

    </td>
    <td>
        <input type="number" class="panel-info" style="width: 130px;height:25px;" id="baja" value="0" onchange="totalstock()" oninput="totalstock()" onkeypress="solonumerosptocoma()" />
        <span class="error">Requerido</span>
    </td>
    <td>
        <input type="text" class="panel-info" style="width: 130px;height:25px;" id="stockfuturo" value="0" readonly="readonly" />

    </td>
    <td>
        <button type="button" id="add" class="btn btn-success btn-sm " value="Agregar" style="bottom:auto" />Agregar
        <span class="glyphicon glyphicon-plus"></span>
    </td>
  
    </tbody>
</table>
<div>
    <div id="orderItems">
    </div>
    <span class="error"></span>

</div>
<hr />

<div class="text-center">
    <button type="button" id="submit" class="btn btn-success btn-md" value="Guardar compra">
        Guardar
        <span class="glyphicon glyphicon-floppy-disk"></span>
    </button>


</div>



<link href="@Url.Content("~/Content/Select2/select2.min.css")" rel="stylesheet" />
@section Scripts{




    <script src="@Url.Content("~/Content/Select2/select2.js")"></script>
    <script src="@Url.Content("~/Scripts/solonumeros.js")"></script>
    <script src="@Url.Content("~/Scripts/solonumerosptocoma.js")"></script>


    <script>

        /////////////////Start:Select searchable////////////////
        $(document).ready(function() {
            $(".js-example-basic-single").select2();
        });
        ////////////////End:Select searchable///////////////////
      

        //////////////////////Start: Autocomplete Product Stock/////////////
        $(document).ready(function() {
            $("#linedescription").change(function() {

                var options = {};
                options.url = '@Url.Action("Getproductstock", "Products")';
                options.type = "GET";
                options.data = { "pro": $("#linedescription").val() };
                options.dataType = "json";
                options.success = function (data) {
                    document.getElementById("stockactual").value = data;
                    var stockactual = parseFloat($('#stockactual').val());
                    var baja = parseFloat($('#baja').val());
                    var stockfuturo = (stockactual - baja);
                    document.getElementById("stockfuturo").value = stockfuturo.toFixed(2);;
                };
                $.ajax(options);
            });
        });
        ///////////////////End: Autocomplete Product Stock////////

        //////////////////Start: stockfuturo Calculation//////////////

            function totalstock() {
                var stockactual = parseFloat($('#stockactual').val());
                var baja = parseFloat($('#baja').val());
                if (stockactual < baja) {
                    baja = stockactual; document.getElementById("baja").value = stockactual.toFixed(2);
                    $('#baja').siblings('span.error').css('visibility', 'visible');
                    $('#baja').siblings('span.error').text('Valor max:'+" "+stockactual);
                } else { $('#baja').siblings('span.error').css('visibility', 'hidden'); }
                var stockfuturo = (stockactual - baja);
                document.getElementById("stockfuturo").value = stockfuturo.toFixed(2);
            }

        ////////////////////End: stockfuturo Calculation/////////////

       

        $(document).ready(function() {
            var orderItems = [];
            var verifproductos = [];

           
            //Add button click function
            $('#add').click(function() {
                //Check validation of order item
                var isValidItem = true;
                if ($('#linedescription').val().trim() == '' | $('#linedescription').val().trim() == 0) {
                    isValidItem = false;
                    $('#linedescription').siblings('span.error').text('Requerido');
                    $('#linedescription').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#linedescription').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#stockactual').val().trim() == '' | $('#stockactual').val().trim() == 0) {
                    isValidItem = false;
                    $('#stockactual').siblings('span.error').text('Requerido');
                    $('#stockactual').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#stockactual').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#baja').val().trim() == '') {
                    isValidItem = false;
                    $('#baja').siblings('span.error').text('Requerido');

                    $('#baja').siblings('span.error').css('visibility', 'visible');
                } else {
                    if ($('#baja').val().trim() * 1==0) {
                        isValidItem = false;
                        $('#baja').siblings('span.error').text('Valor min: 1');

                    $('#baja').siblings('span.error').css('visibility', 'visible');}else{
                    $('#baja').siblings('span.error').css('visibility', 'hidden');}
                }

                if ($('#stockfuturo').val().trim() == '') {
                    isValidItem = false;
                    $('#stockfuturo').siblings('span.error').text('Requerido');

                    $('#stockfuturo').siblings('span.error').css('visibility', 'visible');
                } else {
                    $('#stockfuturo').siblings('span.error').css('visibility', 'hidden');
                }
                

                if (isValidItem) {
                    ////////////***********//////////
                    var historial = verifproductos;
                    var errorproductos = false;
                    productoact = parseInt($('#linedescription').val().trim());
                    $.each(historial, function() {
                        if (productoact == parseInt(this)) {
                            errorproductos = true;

                        }
                    });
                }
                if (errorproductos) {
                    isValidItem = false;
                    bootbox.alert({
                        title: "Producto existente",
                        message: "El producto: - " + $('#shadow').val().trim()+" - ya se encuentra en el listado. ",
                        backdrop: true
                    });
                }

                //Validacion de Stock
                if (isValidItem) {
                      
                            //                    data = data.replace(",",'.');

                            orderItems.push({
                                IdProduct: $('#linedescription').val().trim(),
                                LinePrice: $('#stockactual').val().trim(),
                                LineQuantity: $('#baja').val().trim(),
                                LineTotal: $('#stockfuturo').val().trim(),
                                LineDescription: $('#shadow').val().trim()
                            });
                            verifproductos.push(
                                parseInt($('#linedescription').val().trim())
                            );
                            
                            //Clear fields
                            //$(document).find('#linedescription').select2();
                            $("#linedescription").val(0).trigger('change');
                            $('#stockactual,#baja,#stockfuturo').val('0');

                            GeneratedItemsTable();
                        
                    };
                


                //Add item to list if valid

                //populate order items

            });
            //Save button click function
            $('#submit').click(function() {
                //validation of order
                var isAllValid = true;
                if (orderItems.length == 0) {
                    $('#orderItems').html('<span style="color:red;">Por favor, agregue productos.</span>');
                    isAllValid = false;
                }

                //Save if valid
                if (isAllValid) {
                    var data = {
                        //Sorry forgot to add Description Field
                        SaleLines: orderItems
                    }

                    $(this).val('Please wait...');

                    $.ajax({
                        url: '@Url.Action("RemoveStock", "Products")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function(d) {
                            //check is successfully save to database
                            if (d.status == true) {
                                //will send status from server side
                                //alert('SAPEEEEEEEEEEEEE.');
                                bootbox.alert({

                                    message: "Stock actualizado correctamente",
                                    callback: function (result) {
                                      
                                        var url = '@Url.Action("Index")';
                                        window.location.href = url;
                                    }
                                });


                            } else {
                                alert('Failed');
                            }
                            $('#submit').val('Save');
                        },
                        error: function() {
                            alert('Error. Please try again.');
                            $('#submit').val('Save');
                        }
                    });
                }

            });

//function for show added items in table
            function GeneratedItemsTable() {
                $('.elim').remove();

                if (orderItems.length > 0) {
                    $('#orderItems').html('<span style="color:red;"></span>');
                    $.each(orderItems, function(i, val) {
                        var $row = $('<tr class="elim"  style="background-color: white"></tr>');
                        $row.append($('<td></td>').html(val.LineDescription));
                        $row.append($('<td></td>').html(val.LinePrice));
                        $row.append($('<td></td>').html(val.LineQuantity));
                        $row.append($('<td></td>').html(val.LineTotal));
                        var $remove = $('<a href="#">Eliminar</a>');
                        $remove.click(function(e) {
                            e.preventDefault();
                            orderItems.splice(i, 1);
                            verifproductos.splice(i, 1);
                            GeneratedItemsTable();
                        });
                        $row.append($('<td></td>').append($remove));
                        $('#mytable > tbody:last').append($row);
                    });
                   
                } else {
                    $('#orderItems').html('');
                }
            }
        });

    </script>
}

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }


    /*css for table*/
    .container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }

    .tablecontainer th, .tablecontainer td {
        text-align: left;
        border-left: 1px solid #BFAEAE;
        padding: 5px;
        border-bottom: 1px solid #BFAEAE;
    }

    .ui-widget {
        font-size: 12px !important;
    }
</style>