@model MinimercadoAlfredo.Models.Bill

@{
    ViewBag.Title = "Details";
}
@{
    Layout = null;
}

    <div class="text-center">Nota de pedido</div>
    <hr style="color:grey; border-color: grey; margin: 5px;" />
    <table class="table table-condensed   table-striped table-bordered table-condensed">
        <thead>
            <tr class="text-center" style="color:black;font-weight: bold; background-color:lightsteelblue">
                <th class="text-center">
                    N°
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Dirección
                </th>
                <th class="text-center" style="width: 170px">
                    @Html.DisplayNameFor(model => model.SaleDate)
                </th>

            </tr>
        </thead>
        <tbody>
            <tr style="background-color: white">
                <td class="text-center" style="width: 10%">
                    @Html.DisplayFor(model => model.IdBill)
                </td>

                <td style="width: 35%">
                    @Html.DisplayFor(model => model.Customer.CustomerName)
                </td>
                <td style="width: 35%">

                    @if (Model.SaleAddress == "" | Model.SaleAddress == null)
                    {<text>-</text>}
            else
            {
                        @Html.DisplayFor(model => model.SaleAddress)}
                </td>
                <td class="text-center">
                    @Html.DisplayFor(model => model.SaleDate)
                </td>

            </tr>
        </tbody>
    </table>
    <table class="table table-condensed   table-striped table-bordered table-condensed" id="tabla">
        <thead>
            <tr class="text-center" style="color:black;font-weight: bold; background-color:lightsteelblue">
                <td class="text-center" style="border-radius: 3px;font-weight: bold">
                    Nº Art.
                </td>
                <td class="text-left" style="border-radius: 3px; font-weight: bold">
                    Producto
                </td>

                <td class="text-center" style="border-radius: 3px; font-weight: bold">
                    Cantidad
                </td>
                <td class="text-center" style="border-radius: 3px; font-weight: bold">
                    Precio
                </td>
                <td class="text-center" style="border-radius: 3px; font-weight: bold; width: 17%">
                    Descuento (%)
                </td>
                <td class="text-center" style="border-radius: 3px; font-weight: bold">
                    Subtotal
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BillLines)
            {
                <tr style="background-color: white">
                    <td class="text-center" style="width: 10%">
                        @Html.DisplayFor(modelItem => item.Product.IdProduct)
                    </td>
                    <td style="width: 35%">
                        @Html.DisplayFor(modelItem => item.Product.Trademark.TrademarkName) - @Html.DisplayFor(modelItem => item.Product.ProductDescription)
                    </td>
                    @*<td class="text-center" style="width: 10%">
                        @Html.DisplayFor(modelItem => item.LineQuantity)
                    </td>*@
                    @if (item.Product.Category.CategoryName == "Fiambrería" | item.Product.Category.CategoryName == "FIAMBRERÍA" | item.Product.Category.CategoryName == "FIAMBRERIA" | item.Product.Category.CategoryName == "Fiambres" | item.Product.Category.CategoryName == "FIAMBRES")
                    {
                        <td class="text-center" style="width: 10%">
                            @item.LineQuantity.ToString("#,###0.000")
                        </td>
                    }
                    else
                    {
                        <td class="text-center" style="width: 10%">
                            @item.LineQuantity.ToString("#,###0")
                        </td>
                    }
                    <td class="text-center">
                        @Html.DisplayFor(modelItem => item.LinePrice)
                    </td>
                    <td class="text-center" style="width: 15%">
                        @item.LineDiscount.ToString("#,###0")
                    </td>
                    <td class="text-center" style="width: 15%">
                        @Html.DisplayFor(modelItem => item.LineTotal)
                    </td>
                </tr>
            }
            <tr style="background:none">
                <td style="border-right: hidden; border-left: hidden; border-bottom: hidden;"></td>
                <td style="border-right: hidden; border-left: hidden; border-bottom: hidden;"></td>
                <td style="border-right: hidden; border-left: hidden; border-bottom: hidden;"></td>
                <td style="border-left: hidden; border-bottom: hidden;"></td>
                <td class="text-center" style="font-weight: bold;background: khaki">TOTAL</td>
                <td class="text-center" style="color: black; font-weight: bolder; background-color: khaki">
                    @Html.DisplayFor(model => model.LinesTotal)
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-condensed   table-striped table-bordered table-condensed">
        <thead>
            <tr class="text-right" style="color:black;font-weight: bold; background-color:lightsteelblue">
                <td class="text-left" style="border-radius: 3px;font-weight: bold">
                    Observaciones
                </td>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: white">
                <td>
                    @if (Model.Comments == "" | Model.Comments == null)
                    {<text>-</text>}
            else
            {
                        @Html.DisplayFor(model => model.Comments)}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="text-center hidden-print">
       
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                    <a class="btn btn-warning hidden-print" id="impcomprobante" onclick="imprimir1();">
                        Imprimir
                    </a>
       



    </div>
