@model MinimercadoAlfredo.Models.Purchase

@{
    Layout = null;
}

<h2 class="text-center">Eliminar Producto</h2>

<h3>¿Está seguro de eliminar el siguiente Producto?</h3>
<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provider.ProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provider.ProviderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseTotal)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
