@model IEnumerable<MinimercadoAlfredo.Models.Purchase>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Lista de Compras</h2>
<hr style="color:grey;border-color:grey" />

<div>
    <a href="@Url.Action("CreatePurchase", "Purchases")" class="btn btn-success">Nueva Compra</a>
</div>
<br />
<table class="table table-striped table-bordered" id="tabla">
    <thead>
        <tr class="text-center" style="color:white; background-color:#4d77a3">
            <th>
                Fecha de Compra
            </th>
            <th>
                Proveedor
            </th>          
            <th>
                Total Comprado
            </th>
            <th class="text-center">
                Opciones
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td width="250px">
                    @Html.DisplayFor(modelItem => item.Provider.ProviderName)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseTotal)
                </td>
                <td class="text-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle"
                                data-toggle="dropdown"><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;<span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li><a href="@Url.Action("Edit","Purchases", new { id = item.IdPurchase })">Editar</a></li>
                            <li><a href="@Url.Action("Details","Purchases", new { id = item.IdPurchase })">Detalles</a></li>
                            <li><a href="@Url.Action("Delete","Purchases", new { id = item.IdPurchase })" class="dialog-window1">Eliminar</a></li>
                        </ul>
                    </div> 
                    @*@Html.ActionLink("Editar", "Edit", new { id = item.IdPurchase }, new {@class = "btn btn-primary btn-sm" }) 
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdPurchase }, new { @class = "btn btn-primary btn-sm" }) 
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.IdPurchase }, new { @class = "btn btn-primary btn-sm" })*@
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

            ////Grilla automatica//
            $("#tabla").DataTable({
                "language": { "url": "/Scripts/DataTables/spanish.json" }
            }, {
                order: [[0, "desc"]]
            });

            //$("#tabla").DataTable({
            //        "order": [[0, "desc"]]
            //    });
            
            $('.dropdown-toggle').dropdown();
            
        })
    </script>    
}
