@model MinimercadoAlfredo.Models.Provider
@{
    Layout = null;
}

@*<h3 class="text-center">Detalles de @Model.ProviderName</h3>
<hr style="color:grey;border-color:grey" />*@
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderPhone)
        </dd>

        <dt>
            Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderEmail)
        </dd>
        <dt>
            CUIT / CUIL
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuitCuil)
        </dd>

    </dl>
</div>
<hr style="color:grey;border-color:lightgray" />
<div class="form-actions no-color text-center">
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
</div>

